<!DOCTYPE html>
{%load static%}
<html lang="en">
  {% include 'includes/head.html'%}
  <body
    style="
      background-image: url(assets/svg/background_snow.svg);
      background-repeat: no-repeat;
      background-size: contain;
      background-position-x: center;
    "
  >
    <!--Navbar Start-->
    {% include 'includes/navbar.html'%}
    <!--Navbar End-->

    <!--Introduction Start-->
    <div class="container-sm">
      <div class="row justify-content-center">
        <div
          class="col-md-6 mt-2 ps-sm-5"
          style="padding-bottom: 5%; padding-top: 5%"
        >
          <h1 class="fw-bold mb-2 text-center">About MoPD</h1>
          <p class="fs-5">
            <p class="fs-5">
                The Ministry of Planning and Development (MOPD) plays a 
                crucial role in analyzing economic data and formulating
                 policies for sustainable development. As part of their
                  responsibilities, the Economic Analysis and Policy 
                  Directorate within MOPD have to develop an analysis tool 
                  to support their work.
              </p>
          </p>
        </div>

        <div
          class="col-md-6 mt-2 ps-sm-5"
          style="padding-bottom: 5%; padding-top: 5%"
        >
          <img class="img-fluid" src="{% static 'assets/svg/undraw_data_re_80ws.svg' %}" />
        </div>
      </div>
    </div>
    <!--Introduction End-->

    <!--Latest Data Start-->

    <!--Latest Data End-->

    <!--Mission Start-->
    <div class="container mt-5">
      <div class="row justify-content-center">
        <div class="col-md-5 mt-2">
          <img class="img-fluid" src="{% static 'assets/svg/undraw_target_re_fi8j.svg' %}" />
        </div>
        <div class="col-md-7 mt-2">
          <h3 class="fw-bold mb-2 text-center">Mission</h3>
          <hr />
          <p class="fs-5">
            Our mission is to provide comprehensive policy analysis, guidance,
            and support to drive the multidimensional development endeavors of
            our country. We aim to play a pivotal role in shaping Ethiopia's
            future by preparing medium and long-term national development plans
            through effective coordination with sectoral ministries and relevant
            government agencies.
          </p>
          <p class="fs-5">
            We are committed to developing robust public investment
            administration and management capabilities to ensure efficient
            appraisal, selection, and prioritization of policies, programs, and
            development projects. By enhancing these capacities, we strive to
            maximize the impact of public resources and promote sustainable and
            inclusive development.
          </p>
          <p class="fs-5">
            A key aspect of our mission is the regular monitoring and evaluation
            (M&E) of development plans, policies, programs, and projects.
            Through rigorous M&E practices, we assess the effectiveness and
            efficiency of our initiatives, identify areas for improvement, and
            make evidence-based decisions to optimize the allocation of
            resources.
          </p>
        </div>
      </div>
    </div>
    {% include 'includes/footer.html'%}
    <!--Mission End-->

    <!--Landing Graph Start-->
    
    <!--Landing Graph End-->
  </body>

  <script src="assets/plugins/jquery/jquery.min.js"></script>

  <script src="assets/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>

  <script src="assets/dist/js/adminlte.min2167.js?v=3.2.0"></script>

  <script src="assets/plugins/flot/jquery.flot.js"></script>

  <script src="assets/plugins/flot/plugins/jquery.flot.resize.js"></script>

  <script src="assets/plugins/flot/plugins/jquery.flot.pie.js"></script>

  <script src="assets/dist/js/demo.js"></script>
 
</html>
