{%load static%}
<html lang="en">
  {% include "includes/head.html" %}
  <body>
    <!--Navbar Start-->
    {% include "includes/navbar.html" %}
    <!--Navbar End-->

    <div class="container-fluid">
      <h2 class="p-3">Get in Touch</h2>
      <div class="row justify-content-center">
        <div class="col-md-5">
          <p>
            Start Messaging with us that can provide everything you need to
            generate awareness and connect
          </p>
          <img
            class="img-fluid mb-2"
            src="{% static 'assets/svg/undraw_contact_us_re_4qqt.svg' %}"
          />
          <p>
            <ion-icon name="location" class="me-2 text-primary"></ion-icon>
            6kilo, Addis Ababa, Ethiopia
          </p>
          <p><ion-icon name="mail" class="me-2 text-primary"></ion-icon>info@mopd.gov.et</p>
          <p><ion-icon name="call" class="me-2 text-primary"></ion-icon>0111403049</p>
        </div>
        <div class="col-md-6">
          <!--Contact Form Start-->
          <div class="card card-primary shadow card-outline">
            <div class="card-body box-profile text-dark">
              <form>
                <label for="id_topic" class="form-label">Topic</label>
                <input
                  type="text"
                  class="form-control"
                  id="id_topic"
                  placeholder="Topic"
                />
                <label for="id_description" class="form-label mt-2"
                  >Message</label
                >
                <textarea
                  class="form-control"
                  id="id_description"
                  cols="05"
                  rows="7"
                  placeholder="Your Message"
                ></textarea>
                <button type="submit" class="btn btn-primary mt-2">
                  Submit
                </button>
              </form>
            </div>
          </div>
          <!--Contact Form End-->
        </div>
      </div>
    </div>
  </body>
  {% include "includes/js.html" %}
  <script
    type="module"
    src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
  ></script>
  <script
    nomodule
    src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
  ></script>
</html>
