{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>MoPD Analysis tool</title>
    <link
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
  rel="stylesheet"
  integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
  crossorigin="anonymous"
/>
<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
  crossorigin="anonymous"
></script>


<link href="{% static 'assets/image/mopd_logo_green.png' %}" rel="icon">


<!--Icons -->
<link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
<link rel="stylesheet" href="{% static 'assets/css/ionicons.min.css' %} ">
  
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&amp;display=fallback"
    />


    <link
      rel="stylesheet"
      href="{% static 'assets/plugins/fontawesome-free/css/all.min.css'%}"
    />
    <link
      rel="stylesheet"
      href="{% static 'assets/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css'%}"
    />
    <link
      rel="stylesheet"
      href="{% static 'assets/plugins/datatables-responsive/css/responsive.bootstrap4.min.css'%}"
    />
    <link
      rel="stylesheet"
      href="{% static 'assets/plugins/datatables-buttons/css/buttons.bootstrap4.min.css'%}"
    />

    <link rel="stylesheet" href="{% static 'assets/css/preloader.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/slick.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/meanmenu.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/jquery.fancybox.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/fontAwesome5Pro.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/elegantFont.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/default.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/one.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/datapage.css' %}">

</head>

  <body>
    {% include 'includes/navbar.html'%}
    <section class='pt-5 mt-5'>
    <div class="container-fluid mt-3">
      <h2 class='text-center'>Ethiopia Development Indicator</h2>
      <hr class="divider">
      <div class="row">
          <div class="col-md-4 col-sm-6 col-lg-4" id="filterColumn">
              <h4 class="ms-1">Indicator Variables</h4>
              <hr class="dropdown-divider">
              <div class="accordion collapsed mt-3" id="accordionExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="databaseHeader">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#databaseOptions" aria-expanded="false" aria-controls="databaseOptions">
                            <span class="d-flex align-items-center w-100">
                                <strong class="me-auto">Database</strong>
                                <span class="d-flex align-items-center">
                                    <span class="">Available</span>
                                    <span class="badge rounded-pill bg-info ms-1" id="databaseAvailableBadge">0</span>
                                    <span class="ps-1 pe-1 bar"></span>
                                    <span class="ms-2">Selected</span>
                                    <span class="badge rounded-pill bg-info ms-1 me-2" id="databaseSelectedBadge">0</span>
                                </span>
                            </span>
                        </button>
                    </h2>

                    <div id="databaseOptions" class="accordion-collapse collapse" aria-labelledby="databaseHeader"
                        data-bs-parent="#accordionExample">
                        <!-- Add these buttons for A-Z and Z-A sorting -->
                        {% comment %} <div id="accessibility" class="d-flex mt-3">
                            <input type="text" class="form-control me-2" id="filterDatabaseSearch" placeholder="Search...">
                            <button class="btn btn-primary" id="sortAZDatabase">A-Z</button>
                            <button class="btn btn-primary ms-2" id="sortZADatabase">Z-A</button>
                          </div>                           {% endcomment %}
                        <div class="accordion-body scrollable" id='topic_list_filter'>
                            <!-- Add more options here -->
                            <p class="text-danger">Please Select Topic</p>
                        </div>
                    </div>

                </div>
            
                <div class="accordion-item">
                    <h2 class="accordion-header" id="categoryHeader">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#categoryOptions" aria-expanded="false" aria-controls="categoryOptions">

                            <span class="d-flex align-items-center w-100">
                                <strong class="me-auto">Category</strong>
                                <span class="d-flex align-items-center">
                                    <span class="">Available</span>
                                    <span class="badge rounded-pill bg-info ms-1" id="categoryAvailableBadge">0</span>
                                    <span class="ps-1 pe-1 bar"></span>
                                    <span class="ms-2">Selected</span>
                                    <span class="badge rounded-pill bg-info ms-1 me-2" id="categorySelectedBadge">0</span>
                                </span>
                            </span>

                        </button>
                    </h2>

                    <div id="categoryOptions" class="accordion-collapse collapse" aria-labelledby="categoryHeader"
                        data-bs-parent="#accordionExample">
                        {% comment %} <!-- Add these buttons for A-Z and Z-A sorting -->
                        <input type="text" id="filterSearch" placeholder="Search...">
                        <button class="btn btn-primary" id="sortAZ">Sort A-Z</button>
                        <button class="btn btn-primary" id="sortZA">Sort Z-A</button> {% endcomment %}
                        <div class="accordion-body scrollable" id='category_list_filter'>
                            <p class="text-danger">Please Select Topic</p>
                        </div>
                    </div>

                </div>
            
                <div class="accordion-item">
                    <h2 class="accordion-header" id="seriesHeader">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#seriesOptions" aria-expanded="false" aria-controls="seriesOptions">
                            <span class="d-flex align-items-center w-100">
                                <strong class="me-auto">Series</strong>
                                <span class="d-flex align-items-center">
                                    <span class="">Available</span>
                                    <span class="badge rounded-pill bg-info ms-1" id="seriesAvailableBadge">0</span>
                                    <span class="ps-1 pe-1 bar"></span>
                                    <span class="ms-2">Selected</span>
                                    <span class="badge rounded-pill bg-info ms-1 me-2" id="seriesSelectedBadge">0</span>
                                </span>
                            </span>
                        </button>
                    </h2>
                    <div id="seriesOptions" class="accordion-collapse collapse" aria-labelledby="seriesHeader"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body scrollable indicator_filter">
                            <div id="indicator_list_filter_header">
                                <p class="text-danger">Please Select Categories</p>
                            </div>
                            <div id="indicator_list_filter_select_all"></div>
                            <div id="indicator_list_filter_body"></div>
                        </div>
                    </div>
                </div>
            
                <div class="accordion-item ">
                    <h2 class="accordion-header" id="yearHeader">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#yearOptions" aria-expanded="false" aria-controls="yearOptions">
                            <span class="d-flex align-items-center w-100">
                                <strong class="me-auto">Year</strong>
                                <span class="d-flex align-items-center">
                                    <span class="">Available</span>
                                    <span class="badge rounded-pill bg-info ms-1" id="yearAvailableBadge">0</span>
                                    <span class="ps-1 pe-1 bar"></span>
                                    <span class="ms-2">Selected</span>
                                    <span class="badge rounded-pill bg-info ms-1 me-2" id="yearSelectedBadge">0</span>
                                </span>
                            </span>
                        </button>
                    </h2>
                    <div id="yearOptions" class="accordion-collapse collapse" aria-labelledby="yearHeader"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body scrollable " id='Year_list_filter'>
                            <p class="text-danger">Please Select Series</p>
                        </div>
                    </div>
                </div>
            </div>
          </div> <!-- end of col-md-4 -->

          <div class="col-md-8 col-sm-6 col-lg-8 pb-5 pt-1" id="dataColumn">

              <!-- Add disabled attribute to the display options buttons before the apply button is clicked -->
              <div id="displayOptions" class="d-flex justify-content-between align-items-end mb-2 flex-row-reverse">
                  <div class="d-flex">
                      <a class="btn btn-info text-white me-3" style="width: 100px; height: 38px "><i
                              class="fas fa-table"></i> Table</a>
                      <a class="btn btn-info text-white me-3" style="width: 100px; height: 38px "><i
                              class="fas fa-chart-bar"></i> Chart</a>
                  </div>
                  <div class="form-check form-switch ms-3">
                      <input type="checkbox" class="form-check-input" role="switch" id="toggleButton">
                  </div>
              </div>
                   
              <!-- Move the data display section below the filter selection card -->
              <div class="card-container" id='checkmark_card'>
                  <div class="card mt-3" style="width:300px;  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);">
                      <div class="card-body pe-5 ps-5">
                          <div id="filterSelections" class="d-flex flex-column">
                              <div class="filter-option-selection mb-2">
                                  <span class="filter-option-label">Database:</span>
                                  <span class="filter-option-checkmark" id="boot-icon1" ></span>
                              </div>
                              <div class="filter-option-selection mb-2">
                                  <span class="filter-option-label">Category:</span>
                                  <span class="filter-option-checkmark " id="boot-icon2"></span>
                              </div>
                              <div class="filter-option-selection mb-2">
                                  <span class="filter-option-label">Series:</span>
                                  <span class="filter-option-checkmark" id="boot-icon3"></span>
                              </div>
                              <div class="filter-option-selection mb-2">
                                  <span class="filter-option-label">Year:</span>
                                  <span class="filter-option-checkmark" id="boot-icon4"></span>
                              </div>
                          </div>
                          <div class="text-center" id="button">
                                
                          </div>
                      </div>
                  </div>
              </div>
              

              <!-- Add this code to move the data display section below the filter selection card -->
              <div id="dataDisplay" class="data-display container">
                  <div id="table-container">
              <!--Data List Start-->
              <div class="card" id='table_card' style="display: none;">
                    <div class="card-body" id="list_table_view" style="display: none;">
                    </div>
              </div>
              <!--Data List End-->
                  </div>
                  <div id="display_chart" class="container">
                    <!-- Add chart here -->
                    <div class="card" id='chart_display' style="display:none;">
                      <div class="card-header">
                          <div class="card-header">
                            <h3 class="card-title d-flex">
                                <i class="fas fa-chart-pie mr-1"></i>
                                <p class="fw-bold fs-3 pl-1" id="titleForCatagory"></p>
                            </h3>
                            <div class="card-tools">
                                <ul class="nav nav-pills ml-auto">
                                    <li class="nav-item">
                                        <a class="nav-link active "  id="bar_btn" href="#bar-chart" data-toggle="tab">Bar</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link " id='series_btn' href="#series-chart"  data-toggle="tab">Series</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#line-chart" id='line_btn' data-toggle="tab">Line</a>
                                    </li>
                                    <li class="nav-item" id='main_area'>
                                        <a class="nav-link" id='area' href="#area-chart"  data-toggle="tab">Area</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                      </div>
              
                      <div class="card-body">
                        <div class="tab-content p-0">
                             <label id='select_label' class='text-danger form-label fw-bold' for="indicatorDropdown ">Select Indicator to display indicator data</label>
                             <!--to handle for the first drop down for the yaer -->
                             <select class='form-select indicatorDropdown mb-1' id='drop_first'></select>
                             <!--to handle for the first drop down for the month -->
                             <select class='form-select indicatorDropdown1 mb-1' id='drop_two'></select>
                             <!--to handle for the first drop down for the quarter -->
                             <select class='form-select indicatorDropdown2 mb-1' id='drop_three'></select>
                             <!--to handle for the second drop down for the month -->
                             <select class='form-select datasetDropdown mb-1' id='drop' style='display:none'></select>
                             <!--to handle for the second drop down for the quarter -->
                             <select class='form-select datasetDropdown1 mb-1' id='drop_second' style='display:none'></select>
                            <div class="chart tab-pane active " id="bar-chart" style="position: relative; height: 500px;">
                                <!--to handle for chart the year -->
                                <div id="bar-chart-canvas"  style="height: 500px;"></div>
                                <!--to handle for chart the month -->
                                <div id="bar-chart-canvas1"  style="height: 500px; display:none;"></div>
                                <!--to handle for chart the quarter -->
                                <div id="bar-chart-canvas2"  style="height: 500px; display:none;"></div>
                            </div>
                            <div class="chart tab-pane" id="series-chart" style="position: relative; height: 500px;">
                                <!--to handle for chart the year -->
                                <div id="series-chart-canvas" height="300" style="height: 500px;"></div>
                                <!--to handle for chart the month -->
                                <div id="series-chart-canvas1" height="300" style="height: 500px; display:none;"></div>
                                <!--to handle for chart the quarter -->
                                <div id="series-chart-canvas2" height="300" style="height: 500px; display:none;"></div>
                            </div>
                            <div class="chart tab-pane" id="line-chart" style="position: relative; height: 500px;">
                                <!--to handle for chart the year -->
                                <div id="line-chart-canvas"  style="height: 500px;"></div>
                                <!--to handle for chart the month -->
                                <div id="line-chart-canvas1"  style="height: 500px; display:none;"></div>
                                <!--to handle for chart the quarter -->
                                <div id="line-chart-canvas2"  style="height: 500px; display:none;"></div>
                            </div>
                            <div class="chart tab-pane" id="area-chart" style="position: relative; height: 500px; ">
                                <figure class="highcharts-figure">
                                    <div id="parent-container">
                                        <div id="play-controls">
                                            <button id="play-pause-button" class="fa fa-play" title="play"></button>
                                            <input id="play-range" type="range" value="" min="" max="" />
                                        </div>
                                        <div id="area-chart-canvas" height="300" style="height: 500px;"></div>
                                    </div>
                                </figure>
                        
                            </div>
                        </div>
                    </div>
                  </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
<div>
     {% include "includes/footer.html" %} 
    {% include "includes/footer_js.html" %} 
</div>
<script src="{% static 'assets/js/data_filter.js' %}"></script>
<!-- Button -->
<script src="{% static 'assets/plugins/jquery/jquery.min.js' %}"></script>
<script src="{% static 'assets/plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>



<script src="https://code.highcharts.com/stock/highstock.js"></script>
<script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
<script src="https://code.highcharts.com/stock/modules/export-data.js"></script>
<script src="https://code.highcharts.com/stock/modules/accessibility.js"></script>

<script src="https://code.highcharts.com/modules/accessibility.js"></script>

<!-- datatable -->
<script src="{% static 'assets/plugins/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'assets/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'assets/plugins/datatables-buttons/js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'assets/plugins/datatables-buttons/js/buttons.bootstrap4.min.js' %}"></script>
<script src="{% static 'assets/plugins/jszip/jszip.min.js' %}"></script>
<script src="{% static 'assets/plugins/pdfmake/pdfmake.min.js' %}"></script>
<script src="{% static 'assets/plugins/pdfmake/vfs_fonts.js' %}"></script>
<script src="{% static 'assets/plugins/datatables-buttons/js/buttons.html5.min.js' %}"></script>
<script src="{% static 'assets/plugins/datatables-buttons/js/buttons.print.min.js' %}"></script>
<script src="{% static 'assets/plugins/datatables-buttons/js/buttons.colVis.min.js' %}"></script>


<!-- chart -->
 <script src="https://code.highcharts.com/highcharts.js"></script>
 <script src="https://code.highcharts.com/modules/accessibility.js"></script>
 <script src="https://code.highcharts.com/modules/annotations.js"></script>
 <script src="https://code.highcharts.com/modules/data.js"></script>
 <script src="https://code.highcharts.com/modules/exporting.js"></script>
 <script src="https://code.highcharts.com/modules/export-data.js"></script>
 <script src="https://code.highcharts.com/modules/drilldown.js"></script>
       



  </script>


  </body>
 
</html>
