{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>MoPD Analysis tool</title>
    <link
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
  rel="stylesheet"
  integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
  crossorigin="anonymous"
/>
<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
  crossorigin="anonymous"
></script>

<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&amp;display=fallback"
/>

<link
  rel="stylesheet"
  href="{%  static 'assets/plugins/fontawesome-free/css/all.min.css' %}"
/>

<link rel="stylesheet" href="{% static 'assets/css/d.css' %}">
<link href="{% static 'assets/image/mopd_logo_green.png' %}" rel="icon">

<!--Icons -->
<link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
<link rel="stylesheet" href="{% static 'assets/css/ionicons.min.css' %} ">
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
  
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&amp;display=fallback"
    />

    <head>
      <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
        integrity="sha512-..."
        crossorigin="anonymous"
      />
    </head>

    <link
      rel="stylesheet"
      href="{% static 'assets/dist/css/adminlte.min2167.css'%}"
    />
    <link
      rel="stylesheet"
      href="{% static 'assets/plugins/fontawesome-free/css/all.min.css'%}"
    />
    <link
      rel="stylesheet"
      href="{% static 'assets/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css'%}"
    />
    <link
      rel="stylesheet"
      href="{% static 'assets/plugins/datatables-responsive/css/responsive.bootstrap4.min.css'%}"
    />
    <link
      rel="stylesheet"
      href="{% static 'assets/plugins/datatables-buttons/css/buttons.bootstrap4.min.css'%}"
    />

    <link rel="stylesheet" href="{% static 'assets/css/preloader.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/slick.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/meanmenu.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/jquery.fancybox.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/fontAwesome5Pro.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/elegantFont.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/default.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/one.css' %}">

    <style>
      .highcharts-figure {
          min-width: 320px;
          max-width: 750px;
          margin: 0 auto;
      }

      #map {
          height: 500px;
      }

      .loading {
          margin-top: 10em;
          text-align: center;
          color: gray;
      }

      .bar {
          border-right: 3px solid gray;
          opacity: 0.7;
          height: 16px;
          margin-top: 5px;
          margin-bottom: 1px;
      }

      .card-container {
          display: flex;
          justify-content: center;
          align-items: center;
      }

      .card {
          margin: auto;
          /* set margin to auto to center the card horizontally */
      }
      #filterColumn {
          border-right: 0.5px solid rgb(165, 161, 161);
          display: flex;
          flex-direction: column;
        }
        
        #dataColumn {
          display: flex;
          flex-direction: column;
          flex: 1;
        }  
        .form-check-input {
          cursor: pointer;
      }
      .column {
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* Create two columns */
        gap: 1px; /* Space between grid items */
        }

      .btn.active {
          background-color:rgb(0, 119, 255);; /* Replace with your desired color */
      }
      
      .year-options-accordion {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
        }
      .check{
          font-size: 13px; 
          color: rgb(0, 128, 55);
          -webkit-text-stroke-width: 1.8px; 
          border: 2.7px solid; 
          border-radius: 50%; 
          padding-left: 1px;
          padding-right:1px; 
          opacity: 1; 
          background-color: rgb(255, 255, 255);
      }
      #play-controls {
        max-width: 600px;
        margin: 1em auto;
    }

    #container {
        height: 600px;
        max-width: 1000px;
        margin: 0 auto;
    }

    #csv {
        display: none;
    }

    #play-pause-button {
        margin-left: 10px;
        width: 50px;
        height: 50px;
        cursor: pointer;
        border: 1px solid rgba(2, 117, 255, 1);
        border-radius: 25px;
        color: white;
        background-color: rgba(2, 117, 255, 1);
        transition: background-color 250ms;
    }

    #play-pause-button:hover {
        background-color: rgba(2, 117, 255, 0.5);
    }

    #play-range {
        transform: translateY(2.5px);
        width: calc(100% - 90px);
        background: #f8f8f8;
    }
  </style>
  </head>

  <body>
    {% include 'includes/navbar.html'%}
    <section class='pt-5 mt-5'>
    <div class="container-fluid mt-3">
      <h2 class='text-center'>Ethiopia Development Indicator</h2>
      <hr class="divider">
      <div class="row">
          <div class="col-md-4 col-sm-6 col-lg-4" id="filterColumn">
              <h4 class="ms-1">Indicator Variables</h4>
              <hr class="dropdown-divider">
              <div class="accordion collapsed mt-3" id="accordionExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="databaseHeader">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#databaseOptions" aria-expanded="false" aria-controls="databaseOptions">
                            <span class="d-flex align-items-center w-100">
                                <strong class="me-auto">Database</strong>
                                <span class="d-flex align-items-center">
                                    <span class="">Available</span>
                                    <span class="badge rounded-pill bg-info ms-1" id="databaseAvailableBadge">0</span>
                                    <span class="ps-1 pe-1 bar"></span>
                                    <span class="ms-2">Selected</span>
                                    <span class="badge rounded-pill bg-info ms-1 me-2" id="databaseSelectedBadge">0</span>
                                </span>
                            </span>
                        </button>
                    </h2>
                    <div id="databaseOptions" class="accordion-collapse collapse" aria-labelledby="databaseHeader"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body scrollable" id='topic_list_filter'>
                            <!-- Add more options here -->
                            <p class="text-danger">Please Select Topic</p>
                        </div>
                    </div>
                </div>
            
                <div class="accordion-item">
                    <h2 class="accordion-header" id="categoryHeader">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#categoryOptions" aria-expanded="false" aria-controls="categoryOptions">
                            <span class="d-flex align-items-center w-100">
                                <strong class="me-auto">Category</strong>
                                <span class="d-flex align-items-center">
                                    <span class="">Available</span>
                                    <span class="badge rounded-pill bg-info ms-1" id="categoryAvailableBadge">0</span>
                                    <span class="ps-1 pe-1 bar"></span>
                                    <span class="ms-2">Selected</span>
                                    <span class="badge rounded-pill bg-info ms-1 me-2" id="categorySelectedBadge">0</span>
                                </span>
                            </span>
                        </button>
                    </h2>
                    <div id="categoryOptions" class="accordion-collapse collapse" aria-labelledby="categoryHeader"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body scrollable" id='category_list_filter'>
                            <p class="text-danger">Please Select Topic</p>
                        </div>
                    </div>
                </div>
            
                <div class="accordion-item">
                    <h2 class="accordion-header" id="seriesHeader">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#seriesOptions" aria-expanded="false" aria-controls="seriesOptions">
                            <span class="d-flex align-items-center w-100">
                                <strong class="me-auto">Series</strong>
                                <span class="d-flex align-items-center">
                                    <span class="">Available</span>
                                    <span class="badge rounded-pill bg-info ms-1" id="seriesAvailableBadge">0</span>
                                    <span class="ps-1 pe-1 bar"></span>
                                    <span class="ms-2">Selected</span>
                                    <span class="badge rounded-pill bg-info ms-1 me-2" id="seriesSelectedBadge">0</span>
                                </span>
                            </span>
                        </button>
                    </h2>
                    <div id="seriesOptions" class="accordion-collapse collapse" aria-labelledby="seriesHeader"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body scrollable" id="indicator_list_filter">
                            <p class="text-danger">Please Select Category</p>
                        </div>
                    </div>
                </div>
            
                <div class="accordion-item ">
                    <h2 class="accordion-header" id="yearHeader">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#yearOptions" aria-expanded="false" aria-controls="yearOptions">
                            <span class="d-flex align-items-center w-100">
                                <strong class="me-auto">Year</strong>
                                <span class="d-flex align-items-center">
                                    <span class="">Available</span>
                                    <span class="badge rounded-pill bg-info ms-1" id="yearAvailableBadge">0</span>
                                    <span class="ps-1 pe-1 bar"></span>
                                    <span class="ms-2">Selected</span>
                                    <span class="badge rounded-pill bg-info ms-1 me-2" id="yearSelectedBadge">0</span>
                                </span>
                            </span>
                        </button>
                    </h2>
                    <div id="yearOptions" class="accordion-collapse collapse" aria-labelledby="yearHeader"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body scrollable " id='Year_list_filter'>
                            <p class="text-danger">Please Select Series</p>
                        </div>
                    </div>
                </div>
            </div>
          </div> <!-- end of col-md-4 -->

          <div class="col-md-8 col-sm-6 col-lg-8 pb-5 pt-1" id="dataColumn">

              <!-- Add disabled attribute to the display options buttons before the apply button is clicked -->
              <div id="displayOptions" class="d-flex justify-content-between align-items-end mb-2 flex-row-reverse">
                  <div class="d-flex">
                      <a class="btn btn-info text-white me-3" style="width: 100px; height: 38px "><i
                              class="fas fa-table"></i> Table</a>
                      <a class="btn btn-info text-white me-3" style="width: 100px; height: 38px "><i
                              class="fas fa-chart-bar"></i> Chart</a>
                  </div>
                  <div class="form-check form-switch ms-3">
                      <input type="checkbox" class="form-check-input" role="switch" id="toggleButton">
                  </div>
              </div>
                   
              
              <!-- Move the data display section below the filter selection card -->
              <div class="card-container" id='checkmark_card'>
                  <div class="card mt-3" style="width:300px;  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);">
                      <div class="card-body pe-5 ps-5">
                          <div id="filterSelections" class="d-flex flex-column">
                              <div class="filter-option-selection mb-2">
                                  <span class="filter-option-label">Database:</span>
                                  <span class="filter-option-checkmark" id="boot-icon1" ></span>
                              </div>
                              <div class="filter-option-selection mb-2">
                                  <span class="filter-option-label">Category:</span>
                                  <span class="filter-option-checkmark " id="boot-icon2"></span>
                              </div>
                              <div class="filter-option-selection mb-2">
                                  <span class="filter-option-label">Series:</span>
                                  <span class="filter-option-checkmark" id="boot-icon3"></span>
                              </div>
                              <div class="filter-option-selection mb-2">
                                  <span class="filter-option-label">Year:</span>
                                  <span class="filter-option-checkmark" id="boot-icon4"></span>
                              </div>
                          </div>
                          <div class="text-center" id="button">
                                
                          </div>
                      </div>
                  </div>
              </div>
              

              <!-- Add this code to move the data display section below the filter selection card -->
              <div id="dataDisplay" class="data-display container">
                  <div id="table-container">
              <!--Data List Start-->
              <div class="card" id='table_card'>
                    <div class="card-body" id="list_table_view">
                    </div>
              </div>
              <!--Data List End-->
                  </div>
                  <div id="display_chart" class="container">
                    <!-- Add chart here -->
                    <div class="card" id='chart_display' style="display:none;">
                      <div class="card-header">
                          <h3 class="card-title">
                              <i class="fas fa-chart-pie mr-1"></i>
                              The Catagory Name
                          </h3>
                          <div class="card-tools">
                              <ul class="nav nav-pills ml-auto">
                                  <li class="nav-item">
                                      <a class="nav-link active" href="#bar-chart" data-toggle="tab">Bar</a>
                                  </li>
                                  <li class="nav-item">
                                      <a class="nav-link" href="#series-chart" data-toggle="tab">Series</a>
                                  </li>
                                  <li class="nav-item">
                                      <a class="nav-link" href="#line-chart" data-toggle="tab">Line</a>
                                  </li>
                                  <li class="nav-item">
                                      <a class="nav-link" href="#area-chart" data-toggle="tab">Area</a>
                                  </li>
                              </ul>
                          </div>
                      </div>
              
                      <div class="card-body">
                          <div class="tab-content p-0">
              
                              <div class="chart tab-pane active" id="bar-chart" style="position: relative; height: 500px;">
                                  <div id="bar-chart-canvas" height="300" style="height: 500px;"></div>
                              </div>
                              <div class="chart tab-pane" id="series-chart" style="position: relative; height: 500px;">
                                  <div id="series-chart-canvas" height="300" style="height: 500px;"></div>
                              </div>
                              <div class="chart tab-pane" id="line-chart" style="position: relative; height: 500px;">
                                  <div id="line-chart-canvas" height="300" style="height: 500px;"></div>
                              </div>
                              <div class="chart tab-pane" id="area-chart" style="position: relative; height: 500px;">
                                  <figure class="highcharts-figure">
                                      <div id="parent-container">
                                          <div id="play-controls">
                                              <button id="play-pause-button" class="fa fa-play" title="play"></button>
                                              <input id="play-range" type="range" value="1973" min="1973" max="2022" />
                                          </div>
                                          <div id="area-chart-canvas" height="300" style="height: 500px;"></div>
                                      </div>
                                  </figure>
                                  <pre id="csv" style="display:none">
                                    # Data from RIAA
                                    year	LpEp	Vinyl	Cassette	CD	Downloads	Streams
                                    1973	1.2	0.19	0.076
                                    1974	1.4	0.194	0.087
                                    1975	1.5	0.212	0.099
                                    1976	1.7	0.245	0.146
                                    1977	2.2	0.245	0.25
                                    1978	2.5	0.26	0.45
                                    1979	2.1	0.354	0.581
                                    1980	2.2	0.25	0.705
                                    1981	2.3	0.256	1.1
                                    1982	1.9	0.283	1.4	0
                                    1983	1.7	0.269	1.8	0.017
                                    1984	1.5	0.299	2.4	0.103
                                    1985	1.3	0.281	2.4	0.39
                                    1986	0.983	0.228	2.5	0.93
                                    1987	0.793	0.203	3	1.6
                                    1988	0.532	0.18	3.4	2.1
                                    1989	0.22	0.116	3.3	2.6
                                    1990	0.086	0.094	3.5	3.5
                                    1991	0.029	0.064	3	4.3
                                    1992	0.014	0.066	3.1	5.3
                                    1993	0.011	0.051	2.9	6.5
                                    1994	0.018	0.047	3	8.5
                                    1995	0.025	0.047	2.3	9.4
                                    1996	0.036	0.048	1.9	9.9
                                    1997	0.033	0	1.5	9.9
                                    1998	0.034		1.4	11.4
                                    1999	0.032		1.1	12.8
                                    2000	0.028		0.626	13.2
                                    2001	0.027		0.363	12.9
                                    2002	0.021		0.21	12
                                    2003	0.022		0.108	11.2	0
                                    2004	0.019		0.023	11.4	0.138	0
                                    2005	0.014			10.5	0.921	0.149
                                    2006	0.016			9.4	1.631	0.206
                                    2007	0.023			7.5	2.408	0.234
                                    2008	0.057			5.5	2.612	0.321
                                    2009	0.064			4.3	2.647	0.362
                                    2010	0.089			3.4	2.62	0.461
                                    2011	0.119			3.1	2.876	0.654
                                    2012	0.161			2.5	2.946	1.033
                                    2013	0.211			2.1	2.898	1.454
                                    2014	0.244			1.8	2.5	1.827
                                    2015	0.333			1.4	2.3	2.375
                                    2016	0.355			1.1	1.769	3.818
                                    2017	0.389			1	1.318	5.459
                                    2018	0.419			0.696	0.945	7.255
                                    2019	0.48			0.931	0.775	8.853
                                    2020	0.644			0.483	0.622	10.078
                                    2021	1			0.584	0.538	12.509
                                    </pre>
                              </div>
                          </div>
                      </div>
                  </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
<div>
     {% include "includes/footer.html" %} 
    {% include "includes/footer_js.html" %} 
</div>
<script src="{% static 'assets/js/data_filter.js' %}"></script>
<!-- Button -->
<script src="{% static 'assets/plugins/jquery/jquery.min.js' %}"></script>
<script src="{% static 'assets/plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

<!-- datatable -->
<script src="{% static 'assets/plugins/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'assets/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'assets/plugins/datatables-responsive/js/responsive.bootstrap4.min.js' %}"></script>
<script src="{% static 'assets/plugins/datatables-buttons/js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'assets/plugins/datatables-buttons/js/buttons.bootstrap4.min.js' %}"></script>
<script src="{% static 'assets/plugins/jszip/jszip.min.js' %}"></script>
<script src="{% static 'assets/plugins/pdfmake/pdfmake.min.js' %}"></script>
<script src="{% static 'assets/plugins/pdfmake/vfs_fonts.js' %}"></script>
<script src="{% static 'assets/plugins/datatables-buttons/js/buttons.html5.min.js' %}"></script>
<script src="{% static 'assets/plugins/datatables-buttons/js/buttons.print.min.js' %}"></script>
<script src="{% static 'assets/plugins/datatables-buttons/js/buttons.colVis.min.js' %}"></script>

    <script src="{% static 'assets/js/adminlte.min2167.js' %}"></script>
    <script src="{% static 'assets/js/demo.js' %}"></script>

       <!-- chart -->
       <script src="https://code.highcharts.com/highcharts.js"></script>
       <script src="https://code.highcharts.com/modules/exporting.js"></script>
       <script src="https://code.highcharts.com/modules/export-data.js"></script>
       <script src="https://code.highcharts.com/modules/accessibility.js"></script>
   
       <script src="https://code.highcharts.com/highcharts.js"></script>
       <script src="https://code.highcharts.com/modules/annotations.js"></script>
       <script src="https://code.highcharts.com/modules/data.js"></script>
       <script src="https://code.highcharts.com/modules/exporting.js"></script>
       <script src="https://code.highcharts.com/modules/export-data.js"></script>
       <script src="https://code.highcharts.com/modules/accessibility.js"></script>
   
       <script src="https://code.highcharts.com/highcharts.js"></script>
       <script src="https://code.highcharts.com/modules/exporting.js"></script>
       <script src="https://code.highcharts.com/modules/export-data.js"></script>
       <script src="https://code.highcharts.com/modules/accessibility.js"></script>
   
       <script src="https://code.highcharts.com/highcharts.js"></script>
       <script src="https://code.highcharts.com/modules/data.js"></script>
       <script src="https://code.highcharts.com/modules/drilldown.js"></script>
       <script src="https://code.highcharts.com/modules/exporting.js"></script>
       <script src="https://code.highcharts.com/modules/export-data.js"></script>
       <script src="https://code.highcharts.com/modules/accessibility.js"></script>



  </script>


  </body>
 
</html>
