<!DOCTYPE html>
<html lang="en">
{%load static%}
{%include 'includes/head.html' %}

<body>

  <!-- ======= Header ======= -->
      {%include 'includes/navbar.html' %}
  <!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="hero d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 d-flex flex-column justify-content-center">
          <h1 data-aos="fade-up" style="color: rgb(9, 109, 9);">Ministry Of Plan And Devlopment Commission.</h1><br>
          <h3 data-aos="fade-up" data-aos-delay="400" style="color: rgb(9, 109, 9);">የፌደራል ዘርፍ አፈፃፀም ተቋማት  ክትትልና ግምገማ አሰራር ስርዓት ላይ የሚካሄድ የዳሰሳ ጥናት.									
          </h3>
          <div data-aos="fade-up" data-aos-delay="600">
            <div class="text-center text-lg-start">
              <a href="#about" class=" d-inline-flex align-items-center justify-content-center align-self-center">
                <img src="{% static 'assets/image/mopd_logo_green.png' %}" height="150rem" width="160rem"  style="margin-left: 8rem;">
              </a>
            </div>
          </div>
        </div>
        <div class="col-lg-6 hero-img" data-aos="zoom-out" data-aos-delay="200">
          <img src="{% static 'assets/img/hero-img.png' %}" class="img-fluid" alt="">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->

  <main id="main">
    <!-- ======= About Section ======= -->
    <section id="about" class="about">

      <div class="container" data-aos="fade-up">
        <div class="row gx-0">

          <div class="col-lg-6 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="200">
            <div class="content">
              <h3>about</h3>
              <h2></h2>
              <p>
                This analysis tool is designed to provide insights into various
            economic factors, such as GDP growth, inflation rates, employment
            levels, and other relevant indicators. By utilizing this tool, the
            MOPD aims to make informed decisions and develop effective policies
            that can drive economic growth and improve the overall well-being of
            the country.</p>
              <div class="text-center text-lg-start">
                <a href="#" class="btn-read-more d-inline-flex align-items-center justify-content-center align-self-center">
                  <span>Read More</span>
                  <i class="bi bi-arrow-right"></i>
                </a>
              </div>
            </div>
          </div>

          <div class="col-lg-6 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="200">
            <img src="assets/img/about.jpg" class="img-fluid" alt="">
          </div>

        </div>
      </div>

    </section><!-- End About Section -->

    <!-- ======= Values Section ======= -->
    <section id="values" class="values">

      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <h2></h2>
          <p>Latest Data and update</p>
        </header>

        <div class="row">

          <div class="col-lg-4" data-aos="fade-up" data-aos-delay="200">
            <div class="box">
              <img src="assets/img/values-1.png" class="img-fluid" alt="">
              <h3>Capital Expenditure</h3>
              <p>Domestic indirect taxes</p>
              
                <i class="fas fa-database"></i>
             
              <a href="#" class="small-box-footer">
                More info <i class="fas fa-arrow-circle-right"></i>
              </a>
            </div>
          </div>

          <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="400">
            <div class="box">
              <img src="assets/img/values-2.png" class="img-fluid" alt="">
              <h3>Recurrent Exp</h3>
              <p>Urban land lease fee</p>
              <i class="fas fa-database"></i>
              <a href="#" class="small-box-footer">
                More info <i class="fas fa-arrow-circle-right"></i>
              </a>
            </div>
          </div>

          <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="600">
            <div class="box">
              <img src="assets/img/values-3.png" class="img-fluid" alt="">
              <h3>Knowledge/እውቀት</h3>
              <p>Rural land use fee</p>
              <i class="fas fa-database"></i>
              <a href="#" class="small-box-footer">
                More info <i class="fas fa-arrow-circle-right"></i>
              </a>
            </div>
          </div>
          <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="400">
            <div class="box">
              <img src="assets/img/values-2.png" class="img-fluid" alt="">
              <h3>Revenu/ትርፍ</h3>
              <p>Income and profits tax</p>
              <i class="fas fa-database"></i>
              <a href="#" class="small-box-footer">
                More info <i class="fas fa-arrow-circle-right"></i>
              </a>
            </div>
          </div>

        </div>

      </div>

    </section><!-- End Values Section -->

    <!-- ======= Counts Section ======= -->
  

    <!-- ======= Services Section ======= -->
    <section id="services" class="services">

      <div class="container" data-aos="fade-up">

        <header class="section-header">
          
          <p>Mission</p>
        </header>

        <div class="row gy-4">

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="service-box blue">
              <i class="ri-discuss-line icon"></i>
              <p>
                Our mission is to provide comprehensive policy analysis, guidance,
                and support to drive the multidimensional development endeavors of
                our country. We aim to play a pivotal role in shaping Ethiopia's
                future by preparing medium and long-term national development plans
                through effective coordination with sectoral ministries and relevant
                government agencies.
              </p>
              <a href="#" class="read-more"><span>Read More</span> <i class="bi bi-arrow-right"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
            <div class="service-box orange">
              <i class="ri-discuss-line icon"></i>
              <p >
                We are committed to developing robust public investment
                administration and management capabilities to ensure efficient
                appraisal, selection, and prioritization of policies, programs, and
                development projects. By enhancing these capacities, we strive to
                maximize the impact of public resources and promote sustainable and
                inclusive development.
              </p>
              <a href="#" class="read-more"><span>Read More</span> <i class="bi bi-arrow-right"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
            <div class="service-box green">
              <i class="ri-discuss-line icon"></i>
              <p >
                We are committed to developing robust public investment
                administration and management capabilities to ensure efficient
                appraisal, selection, and prioritization of policies, programs, and
                development projects. By enhancing these capacities, we strive to
                maximize the impact of public resources and promote sustainable and
                inclusive development.
              </p>
              <a href="#" class="read-more"><span>Read More</span> <i class="bi bi-arrow-right"></i></a>
            </div>
          </div>

       

        </div>

      </div>

    </section><!-- End Services Section -->

    <!-- ======= Pricing Section ======= -->
    <section id="pricing" class="pricing">

      <!--Landing Graph Start-->
      <div class="container mt-5">
        <h3 class="text-center">CPI Time Series</h3>
        <hr />
        <div class="row justify-content-center">
          <!--Bar Chart Start-->
          <div class="col-md-6">
            <div class="card card-primary card-outline">
              <div class="card-header">
                <h3 class="card-title">
                  <i class="far fa-chart-bar"></i>
                  Bar Chart
                </h3>
                <div class="card-tools">
                  <button
                    type="button"
                    class="btn btn-tool"
                    data-card-widget="collapse"
                  ></button>
                  <button
                    type="button"
                    class="btn btn-tool"
                    data-card-widget="remove"
                  ></button>
                </div>
              </div>
              <div class="card-body">
                <div id="bar-chart" style="height: 300px"></div>
              </div>
            </div>
          </div>
          <!--Bar Chart End-->
  
          <!--Line Chart Start-->
          <div class="col-md-6">
            <div class="card card-primary card-outline">
              <div class="card-header">
                <h3 class="card-title">
                  <i class="far fa-chart-bar"></i>
                  Line Chart
                </h3>
                <div class="card-tools">
                  <button
                    type="button"
                    class="btn btn-tool"
                    data-card-widget="collapse"
                  ></button>
                  <button
                    type="button"
                    class="btn btn-tool"
                    data-card-widget="remove"
                  ></button>
                </div>
              </div>
              <div class="card-body">
                <div id="line-chart" style="height: 300px"></div>
              </div>
            </div>
          </div>
          <!--Line Chart End-->
        </div>
      </div>
      <script>
        $(function () {
          /*
           * BAR CHART
           * ---------
           */
    
          var bar_data = {
            data: [
              [1, 10],
              [2, 8],
              [3, 4],
              [4, 13],
              [5, 17],
              [6, 9],
            ],
            bars: { show: true },
          };
          $.plot("#bar-chart", [bar_data], {
            grid: {
              borderWidth: 1,
              borderColor: "#f3f3f3",
              tickColor: "#f3f3f3",
            },
            series: {
              bars: {
                show: true,
                barWidth: 0.5,
                align: "center",
              },
            },
            colors: ["#3c8dbc"],
            xaxis: {
              ticks: [
                [1, "January"],
                [2, "February"],
                [3, "March"],
                [4, "April"],
                [5, "May"],
                [6, "June"],
              ],
            },
          });
          /* END BAR CHART */
        });
    
        /*
         * LINE CHART
         * ----------
         */
        //LINE randomly generated data
    
        var sin = [],
          cos = [];
        for (var i = 0; i < 14; i += 0.5) {
          sin.push([i, Math.sin(i)]);
          cos.push([i, Math.cos(i)]);
        }
        var line_data1 = {
          data: sin,
          color: "#3c8dbc",
        };
        var line_data2 = {
          data: cos,
          color: "#00c0ef",
        };
        $.plot("#line-chart", [line_data1, line_data2], {
          grid: {
            hoverable: true,
            borderColor: "#f3f3f3",
            borderWidth: 1,
            tickColor: "#f3f3f3",
          },
          series: {
            shadowSize: 0,
            lines: {
              show: true,
            },
            points: {
              show: true,
            },
          },
          lines: {
            fill: false,
            color: ["#3c8dbc", "#f56954"],
          },
          yaxis: {
            show: true,
          },
          xaxis: {
            show: true,
          },
        });
        //Initialize tooltip on hover
        $('<div class="tooltip-inner" id="line-chart-tooltip"></div>')
          .css({
            position: "absolute",
            display: "none",
            opacity: 0.8,
          })
          .appendTo("body");
        $("#line-chart").bind("plothover", function (event, pos, item) {
          if (item) {
            var x = item.datapoint[0].toFixed(2),
              y = item.datapoint[1].toFixed(2);
    
            $("#line-chart-tooltip")
              .html(item.series.label + " of " + x + " = " + y)
              .css({
                top: item.pageY + 5,
                left: item.pageX + 5,
              })
              .fadeIn(200);
          } else {
            $("#line-chart-tooltip").hide();
          }
        });
        /* END LINE CHART */
    
        /*
         * Custom Label formatter
         * ----------------------
         */
        function labelFormatter(label, series) {
          return (
            '<div style="font-size:13px; text-align:center; padding:2px; color: #fff; font-weight: 600;">' +
            label +
            "<br>" +
            Math.round(series.percent) +
            "%</div>"
          );
        }
      </script>
    </section><!-- End Pricing Section -->

 



  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
 
{%include 'includes/footer.html' %}
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/purecounter/purecounter_vanilla.js' %}"></script>
  <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'assets/js/ff.js' %}"></script>

</body>

</html>