{% load static%}
<html lang="en">

  {% include "includes/head.html" %}
  <body>
    <!--Navbar Start-->
    {% include "includes/navbar.html" %}
    <h3 class="btn btn-primary text-center"> 
    {% if messages %}
    {% for message in messages %}     
{{ message|safe }}
    {% endfor %}
{% endif %} </h3>
    <section class="content mt-5">
        <div class="container-fluid">
          <div class="row justify-content-center">
            <div class="col-md-9">
    <div class="card card-primary card-outline">
        <div class="card-body box-profile">
          <div class="text-center">
            <img
              class="profile-user-img img-fluid img-circle"
              src="/media/{{user.image}}"
              alt="User profile picture"
            />
          </div>
          <h3 class="profile-username text-center">{{user.username}}</h3>
          <p class="text-muted text-center">{{user.email}}</p>
        </div>
      </div>
      <div class="card">
        <!--Menu Start-->
        <div class="card-header p-2">
          <ul class="nav nav-pills">
           
            <li class="nav-item">
              <a class="nav-link" href="{% url "setting" %}" 
                >Settings</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url "change_password" %}" 
                >Change Password</a
              >
            </li>
          </ul>
        </div>
        <div class="card-body">
           
<div class="tab-pane" >
    <form method="POST" >
     {% csrf_token %}
     <div class="form-group row">
      <label for="oldPassword" class="col-sm-2 col-form-label"
        >Old Password</label
      >
      <div class="col-sm-10">
        {{form.old_password}}
      </div>
    </div>
    <div class="form-group row">
      <label for="newPassword" class="col-sm-2 col-form-label"
        >New Password</label
      >
      <div class="col-sm-10">
          {{form.new_password1}}
      </div>
    </div>
    <div class="form-group row">
      <label
        for="confirmPassword"
        class="col-sm-2 col-form-label"
        >Confirm Password</label
      >
      <div class="col-sm-10">
          {{form.new_password2}}
      </div>
    </div>
   
          <input class="btn btn-danger" type="submit" value="Change My Password"> 
    </form>
    {% for field in form %}
    {{ field.errors }}
{% endfor %}

  </div>

  <script src="{% static "assets/plugins/jquery/jquery.min.js" %}"></script>

<script src="{% static "assets/plugins/bootstrap/js/bootstrap.bundle.min.js" %}"></script>

<script src="{% static "assets/dist/js/adminlte.min2167.js?v=3.2.0" %}"></script>

<script src="{% static "assets/plugins/flot/jquery.flot.js" %}"></script>

<script src="{% static "assets/plugins/flot/plugins/jquery.flot.resize.js" %}"></script>

<script src="{% static "assets/plugins/flot/plugins/jquery.flot.pie.js" %}"></script>

<script src="{% static "assets/dist/js/demo.js" %}"></script>