{% load static%}
<html lang="en">
  {% include "includes/head.html" %}
  <body>
  
    <!--Navbar Start-->
    {% include 'includes/navbar.html' %}
   
<style>
       
      .emp-profile{
          padding: 3%;
          margin-top: 3%;
          margin-bottom: 3%;
          border-radius: 0.5rem;
          background: #fff;
      }
      .profile-img{
          text-align: center;
      }
      .profile-img img{
          width: 70%;
          height: 100%;
      }
      .profile-img .file {
          position: relative;
          overflow: hidden;
          margin-top: -20%;
          width: 70%;
          border: none;
          border-radius: 0;
          font-size: 15px;
          background: #212529b8;
      }
      .profile-img .file input {
          position: absolute;
          opacity: 0;
          right: 0;
          top: 0;
      }
      .profile-head h5{
          color: #333;
      }
      .profile-head h6{
          color: #0062cc;
      }
      .profile-edit-btn{
          border: none;
          border-radius: 1.5rem;
          width: 70%;
          padding: 2%;
          font-weight: 600;
          color: #6c757d;
          cursor: pointer;
      }
      .proile-rating{
          font-size: 12px;
          color: #818182;
          margin-top: 5%;
      }
      .proile-rating span{
          color: #495057;
          font-size: 15px;
          font-weight: 600;
      }
      .profile-head .nav-tabs{
          margin-bottom:5%;
      }
      .profile-head .nav-tabs .nav-link{
          font-weight:600;
          border: none;
      }
      .profile-head .nav-tabs .nav-link.active{
          border: none;
          border-bottom:2px solid #0062cc;
      }
      .profile-work{
          padding: 14%;
          margin-top: -15%;
      }
      .profile-work p{
          font-size: 12px;
          color: #818182;
          font-weight: 600;
          margin-top: 10%;
      }
      .profile-work a{
          text-decoration: none;
          color: #495057;
          font-weight: 600;
          font-size: 14px;
      }
      .profile-work ul{
          list-style: none;
      }
      .profile-tab label{
          font-weight: 600;
      }
      .profile-tab p{
          font-weight: 600;
          color: #0062cc;
      }
      </style>

    </head>
    <!--Navbar End-->
 



<div class="container emp-profile">
  {%load static%}
            <form method="post">
                <div class="row">
                    <div class="col-md-4">
                      
                    </div>
                    <div class="col-md-6">
                       
                    </div>
                    <section class="content">
                        <div class="container-fluid">
                          <div class="row">
                            <div class="container-fluid">
                              <div class="row justify-content-center">
                                {% include 'user-admin/include/messages.html'%}
                                <div class="col-md-8 ">
                                  <div class="card card-primary card-outline">
                                    <div class="card-body box-profile">
                                      <div class="text-center">
                                        <img class="img-circle img-fluid" width="200px" src="/media/{{user.photo}}" alt="Profile Picture">
                                      </div>
                                      <h3 class="profile-username text-center">
                                        {{user.username | capfirst}}
                                      </h3>
                                      <p class="text-muted text-center">{{ user.first_name | capfirst }} {{ user.last_name| capfirst }}</p>
                                      <!-- Edit Button -->
                                    </div>
                                  </div>
                                </div>
                                <div class="col-md-8">
                                  <div class="card">
                                    <div class="card-header p-2">
                                      <ul class="nav nav-pills">
                                        <li class="nav-item">
                                          <a class="nav-link" href="{% url "setting" %}"  aria-selected="true">Edit Profile</a>
                                        </li>
                                        <li class="nav-item">
                                          <a class="nav-link" href="{% url "change_password" %}"  aria-selected="true">change_password</a>
                                        </li>
                                      </ul>
                                    </div>
                
                                    <div class="card-body">
                                      <div class="tab-content">
                                          <div class="active tab-pane" id="settings">
                                              {% comment %} from strat {% endcomment %}
                                              <form class="form-horizontal" method="POST">
                                                {% csrf_token %}
                                                <div class="form-group row">
                                                  <label for="oldPassword" class="col-sm-2 col-form-label"
                                                    >Username</label
                                                  >
                                                  <div class="col-sm-10">
                                                    {{form.username}}
                                                  </div>
                                                </div>
                                                <div class="form-group row">
                                                  <label for="newPassword" class="col-sm-2 col-form-label"
                                                    >First name:</label
                                                  >
                                                  <div class="col-sm-10">
                                                      {{form.first_name}}
                                                  </div>
                                                </div>
                                                <div class="form-group row">
                                                  <label for="newPassword" class="col-sm-2 col-form-label"
                                                    >Last name:</label
                                                  >
                                                  <div class="col-sm-10">
                                                      {{form.last_name}}
                                                  </div>
                                                </div>
                                                <div class="form-group row">
                                                  <label
                                                    for="confirmPassword"
                                                    class="col-sm-2 col-form-label"
                                                    >Email</label
                                                  >
                                                  <div class="col-sm-10">
                                                      {{form.email}}
                                                  </div>
                                                </div>
                                                 <div class="form-group row">
                                                  <div class="offset-sm-2 col-sm-10">
                                                    <button type="submit" class="btn btn-danger ">
                                                      save changes
                                                    </button>
                                                  </div>
                                                </form>
                                              
                                              
                                              {% comment %} from end {% endcomment %}
                                          </div>
                                      </div>
                                  </div>
                                  
                                  
                
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </section>
                    {% comment %} <div class="col-md-2">
                        <a  class="profile-edit-btn" name="btnAddMore" value="Edit Profile"/>
                    </div> {% endcomment %}
                </div>
               
            </form>           
        </div>
<main>
    
  

  </body>
  <footer style="margin-top: 100px;">
    <div class="footer__area grey-bg pt-100">
        <div class="footer__top pb-45">
            <div class="container">
                <div class="row">
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 pr-0">
                        <div class="footer__widget mb-45 wow fadeInUp" data-wow-delay=".2s">
                            <div class="footer__widget-title mb-30">
                                <div class="logo">
                                    <img src="{% static "assets/img/icon/brand/trianlge.png" %}" alt=""><h3>MoPD</h3>
                                </div>
                            </div>
                            <div class="footer__widget-content">
                                <p> This analysis tool is designed to provide insights</p>
                                <div class="footer__img">
                                    <img src="{% static "assets/img/footer/footer-img-1.png" %}" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 offset-xl-1 col-lg-2 offset-lg-1 col-md-4 col-sm-6">
                        <div class="footer__widget footer__widget-3 mb-45 wow fadeInUp" data-wow-delay=".4s">
                            <div class="footer__widget-title">
                                <h4>Company</h4>
                            </div>
                            <div class="footer__widget-content">
                                <div class="footer__links">
                                    <ul>
                                        <li><a href="#">About</a></li>
                                        <li><a href="#">profile</a></li>
                                        <li><a href="#">Contact Us</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 offset-xl-1 col-lg-2 offset-lg-1 col-md-4 col-sm-6">
                        <div class="footer__widget mb-45 wow fadeInUp" data-wow-delay=".6s">
                            <div class="footer__widget-title">
                                <h4>Resources</h4>
                            </div>
                            <div class="footer__widget-content">
                                <div class="footer__links">
                                    <ul>
                                        
                                        <li><a href="#">Contact Us</a></li>
                                       <li><a href="#">evalute data</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3  col-lg-3 col-md-4 col-sm-6">
                        <div class="footer__widget footer__widget-3 mb-45  ml-70 wow fadeInUp" data-wow-delay=".8s">
                            <div class="footer__widget-title">
                                <h4>Information</h4>
                            </div>
                            <div class="footer__widget-content">
                                <div class="footer__info mb-35">
                                    <ul>
                                        <li>
                                        <div class="icon">
                                            <i class="fal fa-map-marker-alt"></i>
                                        </div>
                                        <div class="text">
                                            <span> 6kilo <br>
                                                Ethiopia, AA</span>
                                        </div>
                                    </li>
                                        <li>
                                            <div class="icon theme-color ">
                                                <i class="fal fa-envelope"></i>
                                            </div>
                                            <div class="text theme-color ">
                                                <span>info@mopd.gov.et</span>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="icon theme-color">
                                                <i class="fas fa-phone-alt"></i>
                                            </div>
                                            <div class="text theme-color">
                                                <span><a href="tel:(+642)-394-396-432">0111403049</a></span>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="footer__social theme-social">
                                    <ul>
                                        <li>
                                            <a href="#">
                                                <i class="fab fa-facebook-f"></i>
                                                <i class="fab fa-facebook-f"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fab fa-twitter"></i>
                                                <i class="fab fa-twitter"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fab fa-vimeo-v"></i>
                                                <i class="fab fa-vimeo-v"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer__copyright-3">
            <div class="container">
                <div class="footer__copyright-inner">
                    <div class="row align-items-center">
                        <div class="col-xl-12">
                            <div class="footer__copyright-text text-center">
                                <p>Copyright © MOPD</span></strong>. All Rights Reserved <a href="index.html"></a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </footer>
{%include "includes/footer_js.html" %}
</html>