{% load static %}

<aside class="control-sidebar control-sidebar-dark"></aside>

<!--Loading JS-->
<script src="{% static 'assets/plugins/jquery/jquery.min.js' %}"></script>
<script src="{% static 'assets/js/adminlte2167.js' %}"></script>

<!--Chart Data-->
<script src="{% static 'assets/js/pages/dashboard.js' %}"></script>

<!--Data Table-->

<script src="https://code.jquery.com/jquery-3.7.0.js"></script>
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
<script>
  table = $('#example').DataTable( {
    retrieve: true,
    paging: true,
    searching: true,
} );
</script>

<!--Muti Select-->
<script src="{% static 'assets/plugins/select2/js/select2.full.min.js' %}"></script>