{% load static %}
<!-- Navbar Start -->
<nav class="main-header navbar navbar-expand-lg navbar-white navbar-light">
    <!-- Navbar links -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link" data-widget="pushmenu" href="#" role="button">
                    <i class="fas fa-bars"></i>
                </a>
            </li>
            <li class="nav-item">
                <a href="{% url 'user-admin-index'%}" class="nav-link">Home</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'index'%}" class="nav-link">View Site</a>
            </li>
        </ul>
        <!-- Right-aligned links -->
        <ul class="navbar-nav mb-2 mb-lg-0">
            <!-- Notification -->
           

            <!-- Profile -->
            <li class="nav-item dropdown pb-2">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                    aria-expanded="true">
                        <img class="img-circle  img-fluid" width="40px"  src="/media/{{user.photo}}" alt="Profile Picture">
                </a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="{% url 'user-admin-profile' %}"><i
                                class="fas fa-sliders-h fa-fw"></i> My Profile</a></li>
                    <li><a class="dropdown-item" href="{% url 'user-admin-profile' %}"><i class="fas fa-cog fa-fw"></i>
                            Settings</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="{% url "logout" %}"><i class="fas fa-sign-out-alt fa-fw"></i> Log Out</a></li>
                </ul>
            </li>

            <!-- Full Screen -->
            <li class="nav-item">
                <a class="nav-link" data-widget="fullscreen" href="#" role="button">
                    <i class="fas fa-expand-arrows-alt"></i>
                </a>
            </li>

            


        </ul>
    </div>
</nav>
<!-- Navbar End -->
