#map {
    height: 500px;
}
.loading {
    margin-top: 10em;
    text-align: center;
    color: gray;
}
.bar {
    border-right: 3px solid gray;
    opacity: 0.7;
    height: 16px;
    margin-top: 5px;
    margin-bottom: 1px;
}
.scrollable {
    max-height: 250px;
    overflow: auto;
}
.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.card {
    background-color: white;
    margin: auto;
    /* set margin to auto to center the card horizontally */
}
#filterColumn {
    border-right: 0.5px solid rgb(165, 161, 161);
    display: flex;
    flex-direction: column;
}
#dataColumn {
    display: flex;
    flex-direction: column;
    flex: 1;
}
.form-check-input {
    cursor: pointer;
}
.column {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* Create two columns */
    gap: 1px;
    /* Space between grid items */
}
.btn.active {
    background-color: rgb(0, 119, 255);
    ;
    /* Replace with your desired color */
}
.year-options-accordion {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.check {
    font-size: 13px;
    color: rgb(0, 128, 55);
    -webkit-text-stroke-width: 1.8px;
    border: 2.7px solid;
    border-radius: 50%;
    padding-left: 1px;
    padding-right: 1px;
    opacity: 1;
    background-color: rgb(255, 255, 255);
}
#play-controls {
    max-width: 600px;
    margin: 1em auto;
}
#container {
    height: 600px;
    max-width: 1000px;
    margin: 0 auto;
}
#play-controls {
    display: flex;
    align-items: center;
}
.dt-buttons.btn-group button {
    background-color: #2793b7; /* Set your desired Bootstrap color here */
    color: #fff; /* Set text color */
}
.dt-buttons.btn-group button:hover {
    background-color: #399fc2; /* Set your desired Bootstrap hover color here */
}
#play-pause-button {
    width: 50px; /* Set a default width */
    height: 50px;
    cursor: pointer;
    border: 1px solid rgba(2, 117, 255, 1);
    border-radius: 25px;
    color: white;
    background-color: rgba(2, 117, 255, 1);
    transition: background-color 250ms;
}
#play-pause-button:hover {
    background-color: rgba(2, 117, 255, 0.5);
}
#play-range {
    transform: translateY(2.5px);
    flex-grow: 1; /* Take up remaining available space */
    background: #f8f8f8;
    margin-left: 10px; /* Add some margin between button and range input */
}