    .footer-02 h2,
    .footer-02 h3,
    .footer-02 p,
    .footer-02 a {
        color:black;
        /* Text Color */
    }
    
    .footer-02 a:hover {
        color: black;
        /* Hover Text Color */
    }
    
    .footer-02 .btn-custom {
        color: black;
        border-color: black;
    }
