<!DOCTYPE html>

{% load static %}
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>DPMEs</title>
  {% include 'user-admin/include/head.html'%}
</head>

<body class="hold-transition sidebar-mini layout-fixed">
  <div class="wrapper">
    <!--Loading Start-->
    <div class="preloader flex-column justify-content-center align-items-center">
      <img class="animation__shake" src="{% static '/assets/image/mopd_logo_green.png' %}" alt="AdminLTELogo"
        height="300" width="300" />
    </div>
    <!--Loading End-->

    {% include 'user-admin/include/navbar.html'%}


    {% include 'user-admin/include/sidebar.html'%}



    <!--Body Start-->
    <div class="content-wrapper">
      <!-- TItle Start-->
      <div class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">

            </div>
          </div>
        </div>
      </div>
      <!--Title End-->

      <section class="content">
        <div class="container-fluid">
          <h6 class="text-muted p-2">Dashboard</h6>
          <!--Card Start-->
          <div class="row">

            <!--Card 1-->
            <div class="col-lg-3 col-6">
              <div class="small-box nav-link text-center">
                <div class="inner">

                  <h4 class="text-info"> <i class="bi bi-person-video3"></i>Total Topic</h4>
                  <h3 class="text-info"><i class="bi bi-sliders"></i>{{size_topic}}<i class="bi bi-sliders"></i></h3>
                </div>
                <div class="icon">
                  <i class="ion ion-bag"></i>
                </div>
                <a href="{% url 'user-admin-topic' %}" class="small-box-footer text-info">More info <i
                    class="bi bi-arrow-down-circle-fill"></i></i></a>
              </div>
            </div>

            <!--Card 2-->
            <div class="col-lg-3 col-6">
              <div class="small-box nav-link text-center">
                <div class="inner">


                  <h4 class="text-success"> <i class="bi bi-app-indicator "></i>Total Category</h4>
                  <h3 class="text-success"><i class="bi bi-sliders"></i>{{size_category}}<i class="bi bi-sliders"></i>
                  </h3>
                </div>
                <div class="icon">
                  <i class="ion ion-bag"></i>
                </div>
                <a href="{% url 'user-admin-category' %}" class="small-box-footer">More info <i
                    class="bi bi-arrow-down-circle-fill"></i></i></a>
              </div>
            </div>


            <!--Card 3-->
            <div class="col-lg-3 col-6">
              <div class="small-box nav-link text-center">
                <div class="inner">


                  <h4 class="text-secondary"> <i class="bi bi-list-nested"></i>Total indicator</h4>
                  <h3 class="text-secondary"><i class="bi bi-sliders"></i>{{size_indicator}}<i
                      class="bi bi-sliders"></i></h3>
                </div>
                <div class="icon">
                  <i class="ion ion-bag"></i>
                </div>
                <a href="{% url 'user-admin-indicators'%}" class="small-box-footer text-secondary">More info <i
                    class="bi bi-arrow-down-circle-fill"></i></i></a>
              </div>
            </div>

            <!--Card 4-->
            <div class="col-lg-3 col-6">
              <div class="small-box nav-link text-center">
                <div class="inner">


                  <h4 class="text-primary"> <i class="bi bi-buildings"></i></i>Total source</p>
                  <h3 class="text-primary"><i class="bi bi-sliders"></i>{{size_source}}<i class="bi bi-sliders"></i>
                  </h3>
                </div>
                <div class="icon">
                  <i class="ion ion-bag"></i>
                </div>
                <a class="text-primary" href="{% url 'user-admin-source'%}" class="small-box-footer">More info <i
                    class="bi bi-arrow-down-circle-fill "></i></i></a>
              </div>
            </div>

          </div>
          <!--Card End-->

          <!--Random Year Graph Start-->
          <h6 class="text-muted p-2">Random Yearly Indicator</h6>
          <script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/series-label.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>

<figure class="highcharts-figure">
    <div id="container"></div>
</figure>
          <!--Random Year Graph End-->

        </div>
      </section>
    </div>
    <!--Body End-->



    {% include 'user-admin/include/footer.html'%}
  </div>

  {% include 'user-admin/include/footer_js.html'%}
  <script>

    $(document).ready(function () {
      $("#tableIndicator").DataTable({
        retrieve: false,
        ordering: false,
        scrollX: true,
        responsive: true,
        paging: true,
        searching: true,
        orderNumber: false,
        columnDefs: [{ width: "100%" }],
      });
    });
  </script>
  <script src="{% static 'assets/js/indicator_filter.js' %}"></script>


  <!--Chart Data-->
  <script src="{% static 'assets/js/pages/dashboard.js' %}"></script>
</body>

</html>


</script>
<script src="{% static 'assets/js/indicator_filter.js' %}"></script>


<!--Chart Data-->
<script src="{% static 'assets/js/pages/dashboard.js' %}"></script>
</body>

</html>