<!DOCTYPE html>

{% load static %}
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>DPMEs</title>
  <link rel="stylesheet" href="{% static 'assets/css/homepage.css' %}">
  {% include 'user-admin/include/head.html'%}
  <!--High Chart-->
  <script src="https://code.highcharts.com/highcharts.js"></script>
  <script src="https://code.highcharts.com/modules/series-label.js"></script>
  <script src="https://code.highcharts.com/modules/exporting.js"></script>
  <script src="https://code.highcharts.com/modules/export-data.js"></script>
  <script src="https://code.highcharts.com/modules/accessibility.js"></script>
</head>

<body class="hold-transition sidebar-mini layout-fixed">
  <div class="wrapper">
    <!--Loading Start-->
    <div class="preloader flex-column justify-content-center align-items-center">
      <img class="animation__shake" src="{% static '/assets/image/mopd_logo_green.png' %}" alt="AdminLTELogo"
        height="300" width="300" />
    </div>
    <!--Loading End-->

    {% include 'user-admin/include/navbar.html'%}
    {% include 'user-admin/include/sidebar.html'%}



    <!--Body Start-->
    <div class="content-wrapper">
      <!-- TItle Start-->
      <div class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">

            </div>
          </div>
        </div>
      </div>
      <!--Title End-->

      <section class="content">
        <div class="container-fluid">
          <h6 class="text-muted p-2">Dashboard</h6>
          <!--Card Start-->
          <div class="row">

            <!--Card 1-->
            <div class="col-md-6 col-xl-3 ">
              <div class="small-box nav-link text-center">
                <div class="inner">

                  <h4 class="text-info"> <i class="bi bi-person-video3"></i>Total Topic</h4>
                  <h3 class="text-info">{{size_topic}}</h3>
                </div>
                <div class="icon">
                  <i class="ion ion-bag"></i>
                </div>
                <a href="{% url 'user-admin-topic' %}" class="small-box-footer text-info">More info <i
                    class="bi bi-arrow-down-circle-fill"></i></a>
              </div>
            </div>

            <!--Card 2-->
            <div class="col-md-6 col-xl-3 ">
              <div class="small-box nav-link text-center">
                <div class="inner">


                  <h4 class="text-success"> <i class="bi bi-app-indicator "></i>Total Category</h4>
                  <h3 class="text-success">{{size_category}}
                  </h3>
                </div>
                <div class="icon">
                  <i class="ion ion-bag"></i>
                </div>
                <a href="{% url 'user-admin-category' %}" class="small-box-footer">More info <i
                    class="bi bi-arrow-down-circle-fill"></i></a>
              </div>
            </div>
            <!--Card 3-->
            <div class="col-md-6 col-xl-3 ">
              <div class="small-box nav-link text-center">
                <div class="inner">
                  <h4 class="text-secondary"> <i class="bi bi-list-nested"></i>Total indicator</h4>
                  <h3 class="text-secondary">{{size_indicator}}</h3>
                </div>
                <div class="icon">
                  <i class="ion ion-bag"></i>
                </div>
                <a href="{% url 'user-admin-indicators'%}" class="small-box-footer text-secondary">More info <i
                    class="bi bi-arrow-down-circle-fill"></i></a>
              </div>
            </div>

            <!--Card 4-->
            <div class="col-md-6 col-xl-3 ">
              <div class="small-box nav-link text-center">
                <div class="inner">
                  <h4 class="text-primary"> <i class="bi bi-buildings"></i>Total source</h4>
                  <h3 class="text-primary">{{size_source}}</h3>
                </div>
                <div class="icon">
                  <i class="ion ion-bag"></i>
                </div>
                <a href="{% url 'user-admin-source'%}" class="small-box-footer text-secondary">More info <i
                    class="bi bi-arrow-down-circle-fill"></i></a>
              </div>
            </div>

          </div>
          <!--Card End-->

          <!--Body Row Start-->

          <div class="row">
            <h6 class="text-muted p-2">Random Monthly Category</h6>
            <!--Random Month Graph Start-->
            <div class="col-12">
             <figure class="highcharts-figure">
               <div id="containerMonth1"></div>
             </figure>
           </div>
            <!--Random Month Grapd End-->

            <h6 class="text-muted p-2">Random Yearly Category</h6>
           <!--Random Year Graph Start-->
           <!--Year 1-->
            <div class="col-lg-6">
              <figure class="highcharts-figure">
                <div id="containerYear1"></div>
              </figure>
            </div>

            <!--Year 2-->
            <div class="col-lg-6">
              <figure class="highcharts-figure">
                <div id="containerYear2"></div>
              </figure>
            </div>
             <!--Random Year Graph End-->
             
             <h6 class="text-muted p-2">Topic catagory and indicator count</h6>
            <!--Year 2-->
            <div class="col-12 ">
              <div class="pt-4">
                <figure class="highcharts-figure">
                  <div class='mt-1' id="drilldown"></div>
              </figure>
              </div>
            </div>
            <h6 class="text-muted p-2">Random Catagory indicator Data</h6>
            <!--Year 2-->
            <div class="col-12 " class='w-100'>
                <div class="controls d-flex justify-content-center pl-1 ">
                  <button type="button" id="start" class="btn btn-success">Start</button> 
                </div>
                
                <div id="live_data"></div>
            </div>

             <!--Last 5 Audit Start -->
             <div class="col-12">
              <h6 class="text-muted p-2">Recent Audits</h6>
              <div class="table-responsive">
                <table class="table bg-white " style="width: 100%;">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Timestamp</th>
                      <th scope="col">User</th>
                      <th scope="col">Action</th>
                      <th scope="col">Object</th>
                      <th scope="col">Model</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for entry in auditlog_entries %}
                    <tr>
                      <th scope="row">{{ forloop.counter }}</th>
                      <td>{{ entry.timestamp }}</td>
                      <td>{{ entry.actor.get_full_name }} ({{ entry.actor.username }})</td>
                   {% if entry.action == 0 %}
                       <td><span class="badge bg-success">Created</span></td>
                   {% elif entry.action == 1 %}
                       <td><span class="badge bg-warning">Updated</span></td>
                   {% elif entry.action == 2 %}
                       <td><span class="badge bg-danger">Deleted</span></td>
                   {% else %}
                      <td><span class="badge bg-info">Other</span></td>
                   {% endif %}
                   <td>{{ entry.object_repr | capfirst }}</td>
                   <td>{{ entry.content_type.name | capfirst }}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
             </div>
             <!--Last 5 Audit End -->
          </div>
          <!--Body Row End-->

        </div>
      </section>
    </div>
    <!--Body End-->



    {% include 'user-admin/include/footer.html'%}
  </div>

  {% include 'user-admin/include/footer_js.html'%}

<script src="https://code.highcharts.com/modules/data.js"></script>
<script src="https://code.highcharts.com/modules/drilldown.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
  <script>
    $(document).ready(function () {
      $("#tableIndicator").DataTable({
        retrieve: false,
        ordering: false,
        scrollX: true,
        responsive: true,
        paging: true,
        searching: true,
        orderNumber: false,
        columnDefs: [{ width: "100%" }],
      });
    });
  </script>
  <script src="{% static 'assets/js/pages/dashboard1.js'%}"></script>

</body>

</html>