<!-- Assuming 'custom_filters' is the name of the Python file containing your custom filter -->
{% for child_item in subIndicator %}
<tr>
    <td >{{ child_item.title_ENG }}</td>
    <td>{{ child_item.title_AMH }}</td>
    <td>{{ child_item.created_at }}</td>
    <td><a
        href="{% url 'user-admin-indicators-detail' child_item.pk %}"
        ><i class="fas ms-2 text-primary fa-pen"></i
      ></a></td>
    {% if child_item.children %}
    <td colspan="4">
        {% include 'user-admin/indicator_row.html' with subIndicator=child_item.children %}
    </td>
    {% endif %}
</tr>
{% endfor %}
