{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>DPMEs</title>

    {% include 'user-admin/include/head.html'%}

      <style>
        .scrollable {
          max-height: 500px; /* replace 500px with your desired maximum width */
          overflow-y: auto; /* enable horizontal scrolling */
        }
      </style>
  </head>

  <body class="hold-transition sidebar-mini layout-fixed">


    
    {% include 'user-admin/include/navbar.html'%} 
    {% include 'user-admin/include/sidebar.html'%}

         <!-- Edit Indicator -->
         <div class="modal fade" id="editModalIndicator" tabindex="-1" aria-labelledby="editModalIndicatorLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="editModalIndicatorLabel">Edit Indicator </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
        
              <form method="post" id="form_indicator_edit">
                {% csrf_token %}
              <div class="modal-body">
                <input type="number"  name="indicator_Id" id="id_indicator_id" style="display: none;">
                <div class="mt-2">
                  {{editIndicator.title_ENG.label}}
                  
                {{editIndicator.title_ENG}}
                </div>
                
                <div class="mt-2">
                  {{editIndicator.title_AMH.label}}
                  {{editIndicator.title_AMH}}
                </div>  
                <div class="mt-2" id="op_type">
                  {{editIndicator.operation_type.label}}
                  {{editIndicator.operation_type}}
                </div> 

                <div class="mt-2" id="op_type">
                  {{editIndicator.is_public.label}}
                  {{editIndicator.is_public}}
                </div> 
                               
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" name="editSubIndicatorForm" form="form_indicator_edit" class="btn btn-primary">Save changes</button>
              </div>
            </form>
        
            </div>
          </div>
        </div>

  
          <!-- Remove Indicator -->
          <div class="modal fade" id="removeIndicatorModal" tabindex="-1" aria-labelledby="removeIndicatorModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="removeIndicatorModalLabel">Remove Indicator</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <form name="removeIndicator" method="post">
                {% csrf_token %}
                <div class="modal-body text-center fs-4"> 
                  <p> May can affect Sub-Indicators <br> Are you sure you want to remove? </p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                  <a href="#" id="forRemoveIndicator" class="btn btn-danger">Yes</a>
                </div>
              </form>
            </div>
          </div>
        </div>

          <!-- Add Sub Indicator  -->
  <div class="modal fade" id="addIndicatorModal" tabindex="-1" aria-labelledby="addIndicatorModalLabel"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addIndicatorModalLabel">Add New Sub-Indicator</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form name="formAddIndicator" method="post" id="formAddIndicator" >
        {% csrf_token %}
        <div class="modal-body">
          <input type="number" name="addNewIndicator" id="addNewIndicatorId" style="display: none;">
         <div class="">
          <label for="id_title_ENG_add">Title ENG</label>
          {{addIndicator.title_ENG_add}}
         </div>
         <div class="mt-2">
          <label for="id_title_AMH_add">Title AMH</label>
          {{addIndicator.title_AMH_add}}
         </div>
         <div class="mt-2" id="op_type">
          {{addIndicator.is_public.label}}
          {{addIndicator.is_public}}
        </div> 
         
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" name="addSubIndicatorForm" form="formAddIndicator" class="btn btn-primary">Save changes</button>
        </div>
      </form>
    </div>
  </div>
</div>


    <!--Body Start-->
    <div class="content-wrapper">

      <section class="content">
        <div class="container-fluid">       
          </div>
          <div class="h2">{{indicator.title_ENG}}</div>
          <div class="row justify-content-center">
            <div class="col-10">
              {% include 'user-admin/include/messages.html'%}
              <div id="tableTest" class="mt-5">
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <!--Body End-->
    {% include 'user-admin/include/footer.html' %}

    {% include 'user-admin/include/footer_js.html' %}

    <script>
      
      $(document).ready(function () {
        $("#tableIndicator").DataTable({
          retrieve: true,
          ordering: false,
          scrollX: true,
          responsive: true,
          paging: true,
          searching: true,
          orderNumber: true,
          lengthMenu: [
            [10, 25, 50, -1],
            ["10 rows", "25 rows", "50 rows", "Show all"],
          ],
          columnDefs: [{ width: "100%" }],
          dom: "Bfrtip",
          buttons: ["pageLength", "excel", "csv", "pdf", "print"],
        });
      });
    </script>


<script src="{% static 'assets/js/indicator_filter_detail.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.4/css/jquery.dataTables.min.css">
    <script src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.0.1/js/dataTables.buttons.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/2.0.1/css/buttons.dataTables.min.css">
    <script src="https://cdn.datatables.net/buttons/2.0.1/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.0.1/js/buttons.print.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.66/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.66/vfs_fonts.js"></script>

    


</script>

    
  </body>
</html>
