{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>DPMEs</title>
    
    {% include 'user-admin/include/head.html'%}

       </head>

  <body class="hold-transition sidebar-mini layout-fixed">



    {% include 'user-admin/include/navbar.html'%}
    {% include 'user-admin/include/sidebar.html' %}
    <!--Body Start-->
    <div class="content-wrapper">
      <!-- TItle Start-->
      <div class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1 class="m-0"></h1>
            </div>
          </div>
        </div>
      </div>
      <!--Title End-->

      <section class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="container-fluid">
              <div class="row justify-content-center">
                {% include 'user-admin/include/messages.html'%}
                <div class="col-md-8 ">
                  <div class="card card-primary card-outline">
                    <div class="card-body box-profile">
                      <div class="text-center">
                        <img class="img-circle img-fluid" width="200px" {% if user.photo %} src="/media/{{user.photo}}" {% else%} src="{% static 'assets/img/avatar.png'%}" {% endif %} alt="Profile Picture" >
                      </div>
                      <h3 class="profile-username text-center">
                        {{user.username | capfirst}}
                      </h3>
                      <p class="text-muted text-center">{{ user.first_name | capfirst }} {{ user.last_name| capfirst }}</p>
                      <!-- Edit Button -->
                    </div>
                  </div>
                </div>
                <div class="col-md-8">
                  <div class="card">
                    <div class="card-header p-2 ml-5">
                      <ul class="nav nav-pills ml-5">
                        <li class="nav-item ml-5">
                          <a class="nav-link ml-5" href="#settings" data-toggle="tab"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill-lock" viewBox="0 0 16 16">
                            <path d="M11 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0m-9 8c0 1 1 1 1 1h5v-1a1.9 1.9 0 0 1 .01-.2 4.49 4.49 0 0 1 1.534-3.693C9.077 9.038 8.564 9 8 9c-5 0-6 3-6 4m7 0a1 1 0 0 1 1-1v-1a2 2 0 1 1 4 0v1a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1h-4a1 1 0 0 1-1-1zm3-3a1 1 0 0 0-1 1v1h2v-1a1 1 0 0 0-1-1"/>
                          </svg>changepassword</a>
                        </li>
                      </ul>
                    </div>

                    <div class="card-body">
                      <div class="tab-content">
                          <div class="active tab-pane" id="settings">
                              <form method="POST" >
                                {% csrf_token %}
                                <div class="form-group row">
                                 <label for="oldPassword" class="col-sm-2 col-form-label"
                                   >Old Password</label
                                 >
                                 <div class="col-sm-10">
                                 
                                   <input type="password" class="form-control" id="{{ formChangePassword.old_password.id_for_label }}" name="{{ formChangePassword.old_password.name }}" />
                                   
                                  </div>
                               </div>
                               <div class="form-group row">
                                 <label for="newPassword" class="col-sm-2 col-form-label"
                                   >New Password</label
                                 >
                                 <div class="col-sm-10">
                                    
                                     <input type="password" class="form-control" id="{{ formChangePassword.new_password1.id_for_label }}" name="{{ formChangePassword.new_password1.name }}" />
                                 </div>
                               </div>
                               <div class="form-group row">
                                 <label
                                   for="confirmPassword"
                                   class="col-sm-2 col-form-label"
                                   >Confirm Password</label
                                 >
                                 <div class="col-sm-10">
                            
                                     <input type="password" class="form-control" id="{{ formChangePassword.new_password2.id_for_label }}" name="{{ formChangePassword.new_password2.name }}" />
                                 </div>
                               </div>
                              <div class="offset-sm-2 ">
                                     <input class="btn btn-danger text-center" type="submit" value="Change My Password"> </div>
                               </form>

                               <div class="mt-4 text-danger">
                                {% if formChangePassword.errors %}
                               <div class="error">
                                 <ul>
                                   {% for field in formChangePassword %}
                                     {% if field.errors %}
                                       <li>{{ field.label }}: {{ field.errors|striptags }}</li>
                                     {% endif %}
                                   {% endfor %}
                                 </ul>
                               </div>
                             {% endif %}
                               </div>


                          </div>
                      </div>
                  </div>
                  
                  

                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>

    {% include 'user-admin/include/footer.html'%}
    {% include 'user-admin/include/footer_js.html'%}
  </body>
</html>

                              
