{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>DPMEs</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.4/css/jquery.dataTables.min.css">
    {% include 'user-admin/include/head.html'%}
    
  </head>

  <body class="hold-transition sidebar-mini layout-fixed">
<!-- Restore trash modal -->
<div class="modal fade" id="restoreModaltrash" tabindex="-1" aria-labelledby="restoreModaltrashLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="restoreModaltrashLabel">Restore Topic</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form name="restoretrash" method="post" action="{% url 'restore_item' 'topic' 0 %}" id="form_trash_restore">
        {% csrf_token %}
        <div class="modal-body text-center fs-4">
          <p>Are you sure you want to restore this topic?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
          <button type="submit" class="btn btn-danger" id="confirmRestore">Yes</button>
        </div>
      </form>
    </div>
  </div>
</div>



    {% include 'user-admin/include/navbar.html'%} 
    {% include 'user-admin/include/sidebar.html'%}
    <!--Body Start-->
    <div class="content-wrapper">
  <section class="content pt-2">
    <div class="container-fluid">
      <div class="card">
        <ul class="nav nav-pills ps-5 pt-3 pb-3">
          <li class="nav-item active">
            <a class="nav-link active" href="{% url 'trash-topic' %}" ><span id="boot-icon" class="bi bi-trash" style="font-size:1rem"></span>Topics</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'trash-indicator'%}"><span id="boot-icon" class="bi bi-trash" style="font-size:1rem"></span>Indicators</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'trash-category' %}"><span id="boot-icon" class="bi bi-trash" style="font-size:1rem"></span>Categories</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'trash-source' %}" ><span id="boot-icon" class="bi bi-trash" style="font-size:1rem"></span>Sources</a>
          </li>
        </ul>
        <hr>

        <div class="card-body">

          <div class="tab-content">
            <!-- In each tab template -->


            <!--Deletd topics-->
            <div class="active tab-pane" id="deletedtopics">
              <!--topic table starts-->
              <div class="content-header">
                <div class="container-fluid">
                  <div class="row mb-2">
                    <div class="col-sm-6">
                      <h1 class="m-0">Topics Lists</h1>
                    </div>
                  </div>
                </div>
              </div>
              <!--Title End-->
        
              <section class="content">
                <div class="container-fluid">
                  <!--Topic Table List Start-->
                  <div class="row justify-content-center">
                    <div class="col-md-12">
                      <div class="table-responsive border p-3 shadow">
                        <table id="deletedTopicsTable" class="table table-striped table-hover table-sm"  style="width: 100%;">
                          <thead>
                            <tr>
                              <th>Name English</th>
                              <th>Name Amharic</th>
                              <th>Created Date</th>
                              <th>Action</th>
                            </tr>
                          </thead>
                          <tbody>
                            {% for topic in recycled_topics %}
                            <tr>
                              <td>{{ topic.title_ENG }}</td>
                              <td>{{ topic.title_AMH }}</td>
                              <td>{{ topic.created|date:'F d, Y' }}</td>
                              <td>
                                <div class="d-flex justify-content-around text-center">
                                  <button type="button" name="trashRestore" data-item-type="topic" data-item-id="{{topic.id}}" class="btn btn-outline-warning border-0 pt-1 pb-1" data-bs-toggle="modal" data-bs-target="#restoreModaltrash" data-bs-toggle="modal" data-bs-target="#restoreModaltrash" title="Restore trash"><i class="fas fa-trash-restore"></i></button>
                              </td>
                            </tr>
                          {% endfor %}
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                  <!--Topic Table List End-->
                </div>
              </section>
              <!--topic end-->
            </div>
            <!--Deletd topics End-->
          </div>

        </div>
        
      </div>

      {%include 'includes/footer_js.html'%}
    
          </section>
        </div>
        <!--Body End-->
        {% include 'user-admin/include/footer.html'%} 
        {% include 'user-admin/include/footer_js.html'%}


        <script src="{% static 'assets/js/trash.js' %}"></script>
        <script src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/buttons/2.0.1/js/dataTables.buttons.min.js"></script>
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/2.0.1/css/buttons.dataTables.min.css">
        <script src="https://cdn.datatables.net/buttons/2.0.1/js/buttons.html5.min.js"></script>
        <script src="https://cdn.datatables.net/buttons/2.0.1/js/buttons.print.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.66/pdfmake.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.66/vfs_fonts.js"></script>
        <script>


          document.addEventListener('DOMContentLoaded', function () {
            var restoreModal = new bootstrap.Modal(document.getElementById('restoreModaltrash'));
    var confirmRestoreButton = document.getElementById('confirmRestore');
    
    document.querySelectorAll('[data-bs-target="#restoreModaltrash"]').forEach(function (button) {
      button.addEventListener('click', function () {
        var itemType = this.getAttribute('data-item-type');
        var itemId = this.getAttribute('data-item-id');
        
        if (itemType && itemId) {
          document.forms['restoretrash'].action = '{% url 'restore_item' 'default_type' 0 %}'.replace('default_type', itemType || 'default').replace('0', itemId);

          restoreModal.show();
        }
      });
    });

    confirmRestoreButton.addEventListener('click', function () {
      document.forms['restoretrash'].submit();
    });

    restoreModal._element.addEventListener('hidden.bs.modal', function () {
      document.forms['restoretrash'].reset();
    });
          });
        </script>
        
        
        
  </body>
</html>
