{% load static %}
<script src="{% static 'assets/plugins/jquery/jquery.min.js' %}"></script>

<script src="{% static 'assets/plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

<script src="{% static 'assets/dist/js/adminlte.min2167.js' %}"></script>

<script src="{% static 'assets/plugins/flot/jquery.flot.js' %}"></script>

<script src="{% static 'assets/plugins/flot/plugins/jquery.flot.resize.js' %}"></script>

<script src="{% static 'assets/plugins/flot/plugins/jquery.flot.pie.js' %}"></script>

