{% load static %}
<script src="{% static 'assets/plugins/jquery/jquery.min.js' %}"></script>

<script src="{% static 'assets/plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

<script src="{% static 'assets/dist/js/adminlte.min2167.js?v=3.2.0' %}"></script>

<script src="{% static 'assets/plugins/flot/jquery.flot.js' %}"></script>

<script src="{% static 'assets/plugins/flot/plugins/jquery.flot.resize.js' %}"></script>

<script src="{% static 'assets/plugins/flot/plugins/jquery.flot.pie.js' %}"></script>

<script src="{% static 'assets/dist/js/demo.js' %}"></script>

<script src="{% static 'assets/js/jquery.min.js' %}"></script>
<script src="{% static 'assets/js/popper.js' %}"></script>
<script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
<script src="{% static 'assets/js/main.js' %}"></script>
<script src="{% static 'assets/plugins/jquery/jquery.min.js' %}"></script>

<script src="{% static 'assets/plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

<script src="{% static 'assets/js/adminlte.min2167.js?v=3.2.0' %}"></script>

<script src="{% static 'assets/js/demo.js' %}"></script>