{% load static %}
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<meta name="viewport"
    content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, viewport-fit=cover" />
<title>Time Series Data PWA</title>
<link rel="stylesheet" type="text/css" href=" {% static 'mobile/styles/bootstrap.css' %}">
<link rel="stylesheet" type="text/css }%" href="{% static 'mobile/fonts/bootstrap-icons.css' %}">
<link
    href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@500;600;700&amp;family=Roboto:wght@400;500;700&amp;display=swap"
    rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
<meta id="theme-check" name="theme-color" content="#FFFFFF">
<link rel="stylesheet" type="text/css" href="{% static 'mobile/fonts/bootstrap-icons.css' %}">
