{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    {% include 'mobile-Dashbord/include/head.html'%}
</head>

<body class="theme-light" data-highlight="highlight-green">
    <div id="preloader" class="preloader-hide">
        <div class="spinner-border color-highlight" role="status"></div>
    </div>

    <div id="page" data-swup="0" style="display: block;">

        {% include 'mobile-Dashbord/include/navbar.html'%}

        <div class="header-bar header-fixed header-app header-auto-show">
            <a href="#" data-back-button=""><i class="bi bi-chevron-left font-13"></i></a>
            <a href="#" class="header-title">Back to Components</a>
            <a href="#" data-toggle-theme="" class="show-on-theme-dark"><i
                    class="bi bi-sun-fill color-yellow-dark font-16"></i>
            </a><a href="#" data-toggle-theme="" class="show-on-theme-light"><i class="bi bi-moon-fill font-13"></i>
            </a><a href="#" data-bs-toggle="offcanvas" data-bs-target="#menu-sidebar"><i
                    class="font-16 bi bi-list"></i></a>
        </div>

        <div class="page-content footer-clear">

            <div class="pt-3">
                <div class="page-title d-flex">
                    <div class="align-self-center">
                        <a href="#" data-back-button="" class="me-3 ms-0 icon icon-xxs bg-theme rounded-s shadow-m">
                            <i class="bi bi-chevron-left color-theme font-14"></i>
                        </a>
                    </div>
                    <div class="align-self-center me-auto">
                        <h1 class="color-theme mb-0 font-18">Color Pack</h1>
                    </div>
                    <div class="align-self-center ms-auto">
                        <a href="#" data-bs-toggle="offcanvas" data-bs-target="#menu-sidebar"
                            class="icon icon-xxs gradient-highlight color-white shadow-bg shadow-bg-xs rounded-s">
                            <i class="bi bi-list font-20"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="card card-style">
                <div class="content mb-0">
                    <h4>Change Accents with 1 Click</h4>
                    <p class="mb-3">
                        Change the entire color accent of your page with just one click. Elements using the class
                        color-highlight or bg-highlight can change their accent instantly.
                    </p>
                    <div class="divider mb-3"></div>
                    <ul class="mb-3 ps-3">
                        <li>CSS or SCSS Editable</li>
                        <li>10+ Color Accents Included</li>
                        <li>Any Color Accent you Want</li>
                    </ul>
                    <div class="divider"></div>
                    <a href="#" data-bs-toggle="offcanvas" data-bs-target="#menu-highlights"
                        class="btn btn-full btn-s rounded-xs shadow-l bg-highlight scale-box text-uppercase font-700">Open
                        Color Changer</a>
                    <div class="divider mt-4"></div>
                    <h6 class="font-700 opacity-30 color-theme">Color Text and Icons</h6>
                    <p class="font-500 color-highlight"><i class="bi bi-check-circle-fill pe-2"></i> This text is using
                        the color highlight.</p>
                    <h6 class="font-700 opacity-30 color-theme">Bootstrap Icons</h6>
                    <div class="row text-center">
                        <div class="col-3">
                            <a href="#" class="icon icon-m bg-highlight rounded-xs"><i
                                    class="bi bi-heart-fill color-white"></i></a>
                        </div>
                        <div class="col-3">
                            <a href="#" class="icon icon-m gradient-highlight rounded-xs"><i
                                    class="bi bi-heart-fill color-white"></i></a>
                        </div>
                        <div class="col-3">
                            <a href="#" class="icon icon-m bg-highlight shadow-bg shadow-bg-s rounded-xs"><i
                                    class="bi bi-heart-fill color-white"></i></a>
                        </div>
                        <div class="col-3">
                            <a href="#" class="icon icon-m border-highlight border color-highlight rounded-xs"><i
                                    class="bi bi-heart-fill"></i></a>
                        </div>
                    </div>
                    <h6 class="font-700 opacity-30 color-theme mt-4 pt-2">Solid Backgrounds and Gradients</h6>
                    <div class="row mb-4">
                        <div class="col-6">
                            <a href="#" class="btn-full btn btn-m rounded-xs bg-highlight">Color</a>
                        </div>
                        <div class="col-6">
                            <a href="#" class="btn-full btn btn-m rounded-xs gradient-highlight">Gradient</a>
                        </div>
                    </div>
                    <h6 class="font-700 opacity-30 color-theme mb-2 mt-4 pt-1">Shadow Backgrounds and Effects</h6>
                    <a href="#"
                        class="btn-full mb-n4 mt-n1 btn btn-m rounded-xs gradient-highlight shadow-bg shadow-bg-l">Highlight
                        Shadow Gradient</a><br><br>
                    <h6 class="font-700 opacity-30 color-theme mb-2 mt-3">Cards and Card Overlays</h6>
                    <div class="card card-style mx-0" style="height:130px;">
                        <div class="card-bottom p-3 pb-3">
                            <h4 class="color-white">Card Highlights</h4>
                            <p class="color-white line-height-s font-12 opacity-80">
                                Cards can use the highlight color as an overlay or background color too.
                            </p>
                        </div>
                        <div class="card-overlay gradient-highlight opacity-90"></div>
                    </div>
                </div>
            </div>
        </div>




        <div id="menu-sidebar" data-menu-active="nav-comps" data-menu-load="{% url 'menu_sidebar' %}"
            class="offcanvas offcanvas-start offcanvas-detached rounded-m" style="display: block;">
            <!-- menu-size will be the dimension of your menu. If you set it to smaller than your content it will scroll-->
            <div class="menu-size" style="width:230px;">
                <!-- Menu Title-->
                <div class="pt-3">
                    <div class="page-title sidebar-title d-flex">
                        <div class="align-self-center me-auto">
                            <p class="color-highlight">Welcome Back</p>
                            <h1>MOPD</h1>
                        </div>
                        <div class="align-self-center ms-auto">
                            <a href="#" data-bs-toggle="dropdown"
                                class="icon gradient-blue shadow-bg shadow-bg-s rounded-m">
                                <img src="images/pictures/25s.jpg" width="45" class="rounded-m" alt="img">
                            </a>
                            <!-- Menu Title Dropdown Menu-->
                            <div class="dropdown-menu">
                                <div class="card card-style shadow-m mt-1 me-1">
                                    <div
                                        class="list-group list-custom list-group-s list-group-flush rounded-xs px-3 py-1">
                                        <a href="{% url 'page_wallet' %}" class="list-group-item">
                                            <i
                                                class="has-bg gradient-green shadow-bg shadow-bg-xs color-white rounded-xs bi bi-credit-card"></i>
                                            <strong class="font-13">Wallet</strong>
                                        </a>
                                        <a href="{% url 'page_activity' %}" class="list-group-item">
                                            <i
                                                class="has-bg gradient-blue shadow-bg shadow-bg-xs color-white rounded-xs bi bi-graph-up"></i>
                                            <strong class="font-13">Activity</strong>
                                        </a>
                                        <a href="{% url 'page_profile' %}" class="list-group-item">
                                            <i
                                                class="has-bg gradient-yellow shadow-bg shadow-bg-xs color-white rounded-xs bi bi-person-circle"></i>
                                            <strong class="font-13">Account</strong>
                                        </a>
                                        <a href="{% url 'page_signin_1' %}" class="list-group-item">
                                            <i
                                                class="has-bg gradient-red shadow-bg shadow-bg-xs color-white rounded-xs bi bi-power"></i>
                                            <strong class="font-13">Log Out</strong>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="divider divider-margins mb-3 opacity-50"></div>

                    <!-- Main Menu List-->
                    <div class="list-group list-custom list-menu-large">
                        <a href="{% url 'index_waves' %}" id="nav-welcome" class="list-group-item">
                            <i class="bi bg-red-dark shadow-bg shadow-bg-xs bi-heart-fill"></i>
                            <div>Welcome</div>
                            <i class="bi bi-chevron-right"></i>
                        </a>
                        <a href="{% url 'pages' %}" id="nav-pages" class="list-group-item">
                            <i class="bi bg-green-dark shadow-bg shadow-bg-xs bi-star-fill"></i>
                            <div>Page Packs</div>
                            <i class="bi bi-chevron-right"></i>
                        </a>
                        <a href="#" id="nav-homes" data-submenu="sub1" class="list-group-item">
                            <i class="bi bg-blue-dark shadow-bg shadow-bg-xs bi-house-fill"></i>
                            <div>Home Styles</div>
                            <i class="bi bi-plus font-18"></i>
                        </a>
                        <div class="list-submenu" id="sub1">
                            <a href="{% url 'index_waves' %}" id="nav-waves" class="list-group-item">
                                <div class="ps-4">Waves</div>
                                <i class="bi bi-chevron-right"></i>
                            </a>
                            <a href="{% url 'Mobile_index' %}" id="nav-classic" class="list-group-item">
                                <div class="ps-4">Classic</div>
                                <i class="bi bi-chevron-right"></i>
                            </a>
                        </div>
                        <a href="{% url 'components' %}" id="nav-comps" class="list-group-item list-group-item-active">
                            <i class="bi bg-brown-dark shadow-bg shadow-bg-xs bi-gear-wide-connected"></i>
                            <div>Components</div>
                            <i class="bi bi-chevron-right"></i>
                        </a>
                        <a data-bs-toggle="offcanvas" data-bs-target="#menu-highlights" href="#"
                            class="list-group-item">
                            <i class="bi bg-magenta-dark shadow-bg shadow-bg-xs bi-droplet"></i>
                            <div>Color Theme</div>
                            <i class="bi bi-chevron-right"></i>
                        </a>

                        <a href="#" class="list-group-item" data-toggle-theme="" data-trigger-switch="switch-1">
                            <i class="bi bg-yellow-dark shadow-bg shadow-bg-xs bi-lightbulb-fill"></i>
                            <div>Dark Mode</div>
                            <div class="form-switch ios-switch switch-green switch-s me-2">
                                <input type="checkbox" data-toggle-theme="" class="ios-input" id="switch-1">
                                <label class="custom-control-label" for="switch-1"></label>
                            </div>
                        </a>
                    </div>

                    <div class="divider divider-margins mb-3 opacity-50"></div>

                    <!-- Quick Actions Icons-->
                    <div class="content pt-1">
                        <div class="d-flex text-center">
                            <div class="me-auto">
                                <a href="{% url 'page_payment_transfer' %}"
                                    class="icon icon-s rounded-s gradient-red shadow-bg shadow-bg-xs"><i
                                        class="font-16 color-white bi bi-arrow-up"></i></a>
                                <h6 class="font-11 font-400 opacity-70 mb-n1 pt-2">Transfer</h6>
                            </div>
                            <div class="m-auto">
                                <a href="{% url 'page_payment_request' %}"
                                    class="icon icon-s rounded-s gradient-green shadow-bg shadow-bg-xs"><i
                                        class="font-16 color-white bi bi-arrow-down"></i></a>
                                <h6 class="font-11 font-400 opacity-70 mb-n1 pt-2">Request</h6>
                            </div>
                            <div class="ms-auto">
                                <a href="{% url 'page_payment_exchange' %}"
                                    class="icon icon-s rounded-s gradient-blue shadow-bg shadow-bg-xs"><i
                                        class="font-16 color-white bi bi-arrow-left-right"></i></a>
                                <h6 class="font-11 font-400 opacity-70 mb-n1 pt-2">Exchange</h6>
                            </div>
                        </div>
                    </div>


                    <div class="divider divider-margins opacity-50"></div>

                    <!-- Useful Links-->
                    <h6 class="opacity-40 px-3 mt-n2 mb-0">Useful Links</h6>
                    <div class="list-group list-custom list-menu-small">
                        <a href="tel:+1 234 567 8091" class="list-group-item default-link">
                            <i class="bi bi-arrow-up-circle-fill opacity-20 font-16"></i>
                            <div>Support</div>
                            <i class="bi bi-chevron-right"></i>
                        </a>
                        <a href="{% url 'page_profile' %}" class="list-group-item">
                            <i class="bi bi-person-circle opacity-20 font-16"></i>
                            <div>Account</div>
                            <i class="bi bi-chevron-right"></i>
                        </a>
                        <a href="{% url 'page_signin_1' %}" class="list-group-item">
                            <i class="bi bi-bar-chart-fill opacity-20 font-16"></i>
                            <div>Log Out</div>
                            <i class="bi bi-chevron-right"></i>
                        </a>
                    </div>

                    <div class="divider divider-margins opacity-50"></div>
                    <!-- Menu Copyright -->
                    <p class="px-3 font-9 opacity-30 color-theme mt-n3">Copyright <span
                            class="copyright-year">2024</span>. Made with <i
                            class="bi bi-heart-fill color-red-dark px-1"></i> by Enabled</p>
                </div>
            </div>
        </div>

        <div id="menu-highlights" data-menu-load="{% url 'menu_highlights' %}"
            class="offcanvas offcanvas-bottom offcanvas-detached rounded-m" style="display: block; visibility: hidden;"
            aria-hidden="true">
            <!-- menu-size will be the dimension of your menu. If you set it to smaller than your content it will scroll-->
            <div class="menu-size" style="height:380px;">
                <div class="d-flex mx-3 mt-3 py-1">
                    <div class="align-self-center">
                        <h1 class="mb-0">Color your <span class="color-highlight">PayApp</span></h1>
                    </div>
                    <div class="align-self-center ms-auto">
                        <a href="#" class="py-3 ps-4 shadow-0 me-n2" data-bs-dismiss="offcanvas">
                            <i class="bi bi-x color-red-dark font-26"></i>
                        </a>
                    </div>
                </div>
                <div class="content mt-n1 pb-2">
                    <p class="mb-3">
                        Tap to change the color accent of MOPD App
                    </p>
                    <div class="divider mb-4"></div>
                    <div class="d-flex text-center">
                        <div class="m-auto">
                            <a href="#" data-change-highlight="red"
                                class="icon gradient-red shadow-bg shadow-bg-xs rounded-s"></a>
                            <h5 class="font-14 mt-n1">Red</h5>
                        </div>
                        <div class="m-auto">
                            <a href="#" data-change-highlight="green"
                                class="icon gradient-green shadow-bg shadow-bg-xs rounded-s"></a>
                            <h5 class="font-14 mt-n1">Green</h5>
                        </div>
                        <div class="m-auto">
                            <a href="#" data-change-highlight="blue"
                                class="icon gradient-blue shadow-bg shadow-bg-xs rounded-s"></a>
                            <h5 class="font-14 mt-n1">Blue</h5>
                        </div>
                        <div class="m-auto">
                            <a href="#" data-change-highlight="mint"
                                class="icon gradient-mint shadow-bg shadow-bg-xs rounded-s"></a>
                            <h5 class="font-14 mt-n1">Mint</h5>
                        </div>
                    </div>
                    <div class="pt-3"></div>
                    <div class="d-flex text-center">
                        <div class="m-auto">
                            <a href="#" data-change-highlight="orange"
                                class="icon gradient-orange shadow-bg shadow-bg-xs rounded-s"></a>
                            <h5 class="font-14 mt-n1">Orange</h5>
                        </div>
                        <div class="m-auto">
                            <a href="#" data-change-highlight="yellow"
                                class="icon gradient-yellow shadow-bg shadow-bg-xs rounded-s"></a>
                            <h5 class="font-14 mt-n1">Yellow</h5>
                        </div>
                        <div class="m-auto">
                            <a href="#" data-change-highlight="magenta"
                                class="icon gradient-magenta shadow-bg shadow-bg-xs rounded-s"></a>
                            <h5 class="font-14 mt-n1">Magenta</h5>
                        </div>
                        <div class="m-auto">
                            <a href="#" data-change-highlight="brown"
                                class="icon gradient-brown shadow-bg shadow-bg-xs rounded-s"></a>
                            <h5 class="font-14 mt-n1">Brown</h5>
                        </div>
                    </div>
                </div>
                <a href="#" data-bs-dismiss="offcanvas"
                    class="mx-3 btn btn-full gradient-highlight shadow-bg shadow-bg-s">Awesome</a>
            </div>
        </div>
        <p class="offline-message bg-red-dark shadow-bg shadow-bg-s color-white"><i class="bi bi-wifi-off pe-2"></i> No
            internet connection detected</p>
        <p class="online-message bg-green-dark shadow-bg shadow-bg-s color-white"><i class="bi bi-wifi pe-2"></i> You
            are back online.</p>
    </div>



    {% include 'mobile-Dashbord/include/script.html'%}
</body>

</html>