<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="viewport"
        content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, viewport-fit=cover" />
    <title>PayApp - Finance, Banking, Wallet, Crypto Mobile PWA</title>
    <link rel="stylesheet" type="text/css" href="styles/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="fonts/bootstrap-icons.css">
    <link
        href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@500;600;700&amp;family=Roboto:wght@400;500;700&amp;display=swap"
        rel="stylesheet">
    <link rel="manifest" href="_manifest.json">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <meta id="theme-check" name="theme-color" content="#FFFFFF">
    <link rel="apple-touch-icon" sizes="180x180" href="app/icons/icon-192x192.png">
</head>
<div class="menu-size" style="height:450px;">
    <div class="d-flex mx-3 mt-3 py-1">
        <div class="align-self-center">
            <h1 class="mb-0">Transfer to Friend</h1>
        </div>
        <div class="align-self-center ms-auto">
            <a href="#" class="ps-4 shadow-0 me-n2" data-bs-dismiss="offcanvas">
                <i class="bi bi-x color-red-dark font-26 line-height-xl"></i>
            </a>
        </div>
    </div>
    <div class="divider divider-margins mt-3"></div>
    <div class="content mt-0">
        <div class="form-custom form-label form-icon">
            <i class="bi bi-wallet2 font-14"></i>
            <select class="form-select rounded-xs" id="c6a" aria-label="Floating label select example">
                <option selected="">Main Account</option>
                <option value="1">Savings Account</option>
                <option value="2">Company Account</option>
            </select>
            <label for="c6" class="form-label-always-active color-highlight font-11">Choose Account</label>
        </div>
        <div class="pb-3"></div>
        <div class="form-custom form-label form-icon">
            <i class="bi bi-code-square font-14"></i>
            <input type="number" class="form-control rounded-xs" id="c4a" placeholder="150.00">
            <label for="c4a" class="form-label-always-active color-highlight font-11">Amount</label>
            <span class="font-10">( Currency: USD )</span>
        </div>
        <div class="pb-3"></div>
        <div class="form-custom form-label form-icon mb-3">
            <i class="bi bi-pencil-fill font-12"></i>
            <textarea class="form-control rounded-xs" placeholder="Detail your Transfer" id="c7" spellcheck="false" data-ms-editor="true"></textarea>
            <label for="c7" class="form-label-always-active color-highlight font-11">Message</label>
        </div>
        <div class="pb-2"></div>
        <div class="form-check form-check-custom">
            <input class="form-check-input" type="checkbox" name="type" value="" id="c2a">
            <label class="form-check-label" for="c2a">I accept the Transfer <a href="#">Terms of Service</a></label>
            <i class="is-checked color-green-dark font-14 bi bi-check-circle-fill"></i>
            <i class="is-unchecked color-green-dark font-14 bi bi-circle"></i>
        </div>
    </div>
    <a href="#" data-bs-dismiss="offcanvas" class="mx-3 btn btn-full gradient-green shadow-bg shadow-bg-s">Transfer Funds</a>
</div>
</html>