<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="viewport"
        content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, viewport-fit=cover" />
    <title>PayApp - Finance, Banking, Wallet, Crypto Mobile PWA</title>
    <link rel="stylesheet" type="text/css" href="styles/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="fonts/bootstrap-icons.css">
    <link
        href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@500;600;700&amp;family=Roboto:wght@400;500;700&amp;display=swap"
        rel="stylesheet">
    <link rel="manifest" href="_manifest.json">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <meta id="theme-check" name="theme-color" content="#FFFFFF">
    <link rel="apple-touch-icon" sizes="180x180" href="app/icons/icon-192x192.png">
</head>
<body>
    
    <div class="menu-size" style="height:380px;">
        <div class="d-flex mx-3 mt-3 py-1">
            <div class="align-self-center">
                <h1 class="mb-0">Color your <span class="color-highlight">PayApp</span></h1>
            </div>
            <div class="align-self-center ms-auto">
                <a href="#" class="py-3 ps-4 shadow-0 me-n2" data-bs-dismiss="offcanvas">
                    <i class="bi bi-x color-red-dark font-26"></i>
                </a>
            </div>
        </div>
        <div class="content mt-n1 pb-2">
            <p class="mb-3">
                Tap to change the color accent of PayApp
            </p>
            <div class="divider mb-4"></div>
            <div class="d-flex text-center">
                <div class="m-auto">
                    <a href="#" data-change-highlight="red" class="icon gradient-red shadow-bg shadow-bg-xs rounded-s"></a>
                    <h5 class="font-14 mt-n1">Red</h5>
                </div>
                <div class="m-auto">
                    <a href="#" data-change-highlight="green" class="icon gradient-green shadow-bg shadow-bg-xs rounded-s"></a>
                    <h5 class="font-14 mt-n1">Green</h5>
                </div>
                <div class="m-auto">
                    <a href="#" data-change-highlight="blue" class="icon gradient-blue shadow-bg shadow-bg-xs rounded-s"></a>
                    <h5 class="font-14 mt-n1">Blue</h5>
                </div>
                <div class="m-auto">
                    <a href="#" data-change-highlight="mint" class="icon gradient-mint shadow-bg shadow-bg-xs rounded-s"></a>
                    <h5 class="font-14 mt-n1">Mint</h5>
                </div>
            </div>
            <div class="pt-3"></div>
            <div class="d-flex text-center">
                <div class="m-auto">
                    <a href="#" data-change-highlight="orange" class="icon gradient-orange shadow-bg shadow-bg-xs rounded-s"></a>
                    <h5 class="font-14 mt-n1">Orange</h5>
                </div>
                <div class="m-auto">
                    <a href="#" data-change-highlight="yellow" class="icon gradient-yellow shadow-bg shadow-bg-xs rounded-s"></a>
                    <h5 class="font-14 mt-n1">Yellow</h5>
                </div>
                <div class="m-auto">
                    <a href="#" data-change-highlight="magenta" class="icon gradient-magenta shadow-bg shadow-bg-xs rounded-s"></a>
                    <h5 class="font-14 mt-n1">Magenta</h5>
                </div>
                <div class="m-auto">
                    <a href="#" data-change-highlight="brown" class="icon gradient-brown shadow-bg shadow-bg-xs rounded-s"></a>
                    <h5 class="font-14 mt-n1">Brown</h5>
                </div>
            </div>
        </div>
        <a href="#" data-bs-dismiss="offcanvas" class="mx-3 btn btn-full gradient-highlight shadow-bg shadow-bg-s">Awesome</a>
    </div>
</body>
</html>