{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    {% include 'mobile-Dashbord/include/head.html'%}
</head>

<body class="theme-light" data-highlight="green">
    <div id="preloader" class="preloader-hide">
        <div class="spinner-border color-highlight" role="status"></div>
    </div>

    <div id="page" data-swup="0" style="display: block;">

        {% include 'mobile-Dashbord/include/navbar.html'%}

        <div class="header-bar header-fixed header-app header-auto-show header-active">
            <a href="#" data-back-button=""><i class="bi bi-chevron-left font-13"></i></a>
            <a href="#" class="header-title">Back to Pages</a>
            <a href="#" data-toggle-theme="" class="show-on-theme-dark"><i
                    class="bi bi-sun-fill color-yellow-dark font-16"></i>
            </a><a href="#" data-toggle-theme="" class="show-on-theme-light"><i class="bi bi-moon-fill font-13"></i>
            </a><a href="#" data-bs-toggle="offcanvas" data-bs-target="#menu-sidebar"><i
                    class="font-16 bi bi-list"></i></a>
        </div>

        <div class="page-content footer-clear">

            <div class="pt-3">
                <div class="page-title d-flex">
                    <div class="align-self-center">
                        <a href="#" data-back-button="" class="me-3 ms-0 icon icon-xxs bg-theme rounded-s shadow-m">
                            <i class="bi bi-chevron-left color-theme font-14"></i>
                        </a>
                    </div>
                    <div class="align-self-center me-auto">
                        <h1 class="color-theme mb-0 font-18">Your Goals</h1>
                    </div>
                    <div class="align-self-center ms-auto">
                        <a href="#" data-bs-toggle="offcanvas" data-bs-target="#menu-sidebar"
                            class="icon icon-xxs gradient-highlight color-white shadow-bg shadow-bg-xs rounded-s">
                            <i class="bi bi-list font-20"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="card card-style bg-3 shadow-card shadow-card-l" data-card-height="150" style="height: 150px;">
                <div class="card-top text-end p-3">
                    <h1 class="color-white font-24">1/5</h1>
                    <p class="font-8 color-white mt-n3">Complete</p>
                </div>
                <div class="card-bottom p-3">
                    <h1 class="color-white mb-n1">Focus on your Goals</h1>
                    <p class="color-white mb-0 opacity-40">Your goals are here. Any style, any design.</p>
                </div>
                <div class="card-overlay bg-gradient-fade"></div>
            </div>
            <div class="row text-center">
                <div class="col-6 mb-n2">
                    <a href="#" class="card card-style me-0" style="height:170px">
                        <div class="card-top mt-4">
                            <span class="icon icon-l rounded-m gradient-green shadow-bg shadow-bg-xs"><i
                                    class="bi bi-truck font-24 color-white"></i></span>
                            <h1 class="font-22 pt-3 line-height-m">New Truck</h1>
                        </div>
                        <div class="card-bottom mx-3 mb-3">
                            <div class="progress rounded-xs bg-theme border border-green-light" style="height:20px">
                                <div class="progress-bar gradient-green text-start ps-3 font-600 font-10"
                                    role="progressbar" style="width: 84%" aria-valuenow="29" aria-valuemin="0"
                                    aria-valuemax="100">
                                    84%
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-6 mb-n2">
                    <a href="#" class="card card-style ms-0" style="height:170px">
                        <div class="card-top mt-4">
                            <span class="icon icon-xl rounded-m gradient-orange shadow-bg shadow-bg-xs"><i
                                    class="bi bi-house font-24 color-white"></i></span>
                            <h1 class="font-22 pt-3">New House</h1>
                        </div>
                        <div class="card-bottom mx-3 mb-3">
                            <div class="progress rounded-xs bg-theme border border-blue-light" style="height:20px">
                                <div class="progress-bar gradient-blue text-start ps-3 font-600 font-10"
                                    role="progressbar" style="width: 64%" aria-valuenow="29" aria-valuemin="0"
                                    aria-valuemax="100">
                                    64%
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="card card-style">
                <div class="content">
                    <div class="d-flex">
                        <div>
                            <h6 class="opacity-30 mb-n1">Entertainment</h6>
                            <h3 class="mb-2">Gaming Console</h3>
                        </div>
                        <div class="align-self-end ms-auto">
                            <h3 class="mb-2">$1.499</h3>
                        </div>
                    </div>
                    <div class="progress rounded-xs bg-theme border border-blue-light" style="height:35px">
                        <div class="progress-bar gradient-blue text-start ps-3 font-600 font-10" role="progressbar"
                            style="width: 78%" aria-valuenow="78" aria-valuemin="0" aria-valuemax="100">
                            78%
                        </div>
                    </div>
                    <div class="d-flex mt-3">
                        <div>
                            <h6 class="opacity-30 mb-n1">Entertainment</h6>
                            <h3 class="mb-2">iPhone Fold</h3>
                        </div>
                        <div class="align-self-end ms-auto">
                            <h3 class="mb-2">$5.499</h3>
                        </div>
                    </div>
                    <div class="progress rounded-xs bg-theme border border-green-light" style="height:35px">
                        <div class="progress-bar gradient-green text-start ps-3 font-600 font-10" role="progressbar"
                            style="width: 85%" aria-valuenow="78" aria-valuemin="0" aria-valuemax="100">
                            85%
                        </div>
                    </div>
                    <div class="d-flex mt-3">
                        <div>
                            <h6 class="opacity-30 mb-n1">Long Term</h6>
                            <h3 class="mb-2">Vacation</h3>
                        </div>
                        <div class="align-self-end ms-auto">
                            <h3 class="mb-2">$4.999</h3>
                        </div>
                    </div>
                    <div class="progress rounded-xs bg-theme border border-yellow-light" style="height:35px">
                        <div class="progress-bar gradient-yellow text-start ps-3 font-600 font-10" role="progressbar"
                            style="width: 53%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                            53%
                        </div>
                    </div>
                </div>
            </div>
            <a href="#"
                class="btn btn-m btn-full mx-3 gradient-highlight shadow-bg shadow-bg-s mb-4">More Progress
                Components</a>
        </div>

        <div id="menu-sidebar" data-menu-active="nav-comps" data-menu-load="{% url 'menu_sidebar' %}"
            class="offcanvas offcanvas-start offcanvas-detached rounded-m" style="display: block;">
            <!-- menu-size will be the dimension of your menu. If you set it to smaller than your content it will scroll-->
            <div class="menu-size" style="width:230px;">
                <!-- Menu Title-->
                <div class="pt-3">
                    <div class="page-title sidebar-title d-flex">
                        <div class="align-self-center me-auto">
                            <p class="color-highlight">Welcome Back</p>
                            <h1>Enabled</h1>
                        </div>
                        <div class="align-self-center ms-auto">
                            <a href="#" data-bs-toggle="dropdown"
                                class="icon gradient-blue shadow-bg shadow-bg-s rounded-m">
                                <img src="images/pictures/25s.jpg" width="45" class="rounded-m" alt="img">
                            </a>
                            <!-- Menu Title Dropdown Menu-->
                            <div class="dropdown-menu">
                                <div class="card card-style shadow-m mt-1 me-1">
                                    <div
                                        class="list-group list-custom list-group-s list-group-flush rounded-xs px-3 py-1">
                                        <a href="{% url 'page_wallet' %}" class="list-group-item">
                                            <i
                                                class="has-bg gradient-green shadow-bg shadow-bg-xs color-white rounded-xs bi bi-credit-card"></i>
                                            <strong class="font-13">Wallet</strong>
                                        </a>
                                        <a href="{% url 'page_activity' %}" class="list-group-item">
                                            <i
                                                class="has-bg gradient-blue shadow-bg shadow-bg-xs color-white rounded-xs bi bi-graph-up"></i>
                                            <strong class="font-13">Activity</strong>
                                        </a>
                                        <a href="{% url 'page_profile' %}" class="list-group-item">
                                            <i
                                                class="has-bg gradient-yellow shadow-bg shadow-bg-xs color-white rounded-xs bi bi-person-circle"></i>
                                            <strong class="font-13">Account</strong>
                                        </a>
                                        <a href="{% url 'page_signin_1' %}" class="list-group-item">
                                            <i
                                                class="has-bg gradient-red shadow-bg shadow-bg-xs color-white rounded-xs bi bi-power"></i>
                                            <strong class="font-13">Log Out</strong>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="divider divider-margins mb-3 opacity-50"></div>

                    <!-- Main Menu List-->
                    <div class="list-group list-custom list-menu-large">
                        <a href="{% url 'index_waves' %}" id="nav-welcome" class="list-group-item">
                            <i class="bi bg-red-dark shadow-bg shadow-bg-xs bi-heart-fill"></i>
                            <div>Welcome</div>
                            <i class="bi bi-chevron-right"></i>
                        </a>
                        <a href="{% url 'pages' %}" id="nav-pages" class="list-group-item">
                            <i class="bi bg-green-dark shadow-bg shadow-bg-xs bi-star-fill"></i>
                            <div>Page Packs</div>
                            <i class="bi bi-chevron-right"></i>
                        </a>
                        <a href="#" id="nav-homes" data-submenu="sub1" class="list-group-item">
                            <i class="bi bg-blue-dark shadow-bg shadow-bg-xs bi-house-fill"></i>
                            <div>Home Styles</div>
                            <i class="bi bi-plus font-18"></i>
                        </a>
                        <div class="list-submenu" id="sub1">
                            <a href="{% url 'index_waves' %}" id="nav-waves" class="list-group-item">
                                <div class="ps-4">Waves</div>
                                <i class="bi bi-chevron-right"></i>
                            </a>
                            <a href="{% url 'Mobile_index' %}" id="nav-classic" class="list-group-item">
                                <div class="ps-4">Classic</div>
                                <i class="bi bi-chevron-right"></i>
                            </a>
                        </div>
                        <a href="{% url 'components' %}" id="nav-comps" class="list-group-item list-group-item-active">
                            <i class="bi bg-brown-dark shadow-bg shadow-bg-xs bi-gear-wide-connected"></i>
                            <div>Components</div>
                            <i class="bi bi-chevron-right"></i>
                        </a>
                        <a data-bs-toggle="offcanvas" data-bs-target="#menu-highlights" href="#"
                            class="list-group-item">
                            <i class="bi bg-magenta-dark shadow-bg shadow-bg-xs bi-droplet"></i>
                            <div>Color Theme</div>
                            <i class="bi bi-chevron-right"></i>
                        </a>

                        <a href="#" class="list-group-item" data-toggle-theme="" data-trigger-switch="switch-1">
                            <i class="bi bg-yellow-dark shadow-bg shadow-bg-xs bi-lightbulb-fill"></i>
                            <div>Dark Mode</div>
                            <div class="form-switch ios-switch switch-green switch-s me-2">
                                <input type="checkbox" data-toggle-theme="" class="ios-input" id="switch-1">
                                <label class="custom-control-label" for="switch-1"></label>
                            </div>
                        </a>
                    </div>

                    <div class="divider divider-margins mb-3 opacity-50"></div>

                    <!-- Quick Actions Icons-->
                    <div class="content pt-1">
                        <div class="d-flex text-center">
                            <div class="me-auto">
                                <a href="{% url 'page_payment_transfer' %}"
                                    class="icon icon-s rounded-s gradient-red shadow-bg shadow-bg-xs"><i
                                        class="font-16 color-white bi bi-arrow-up"></i></a>
                                <h6 class="font-11 font-400 opacity-70 mb-n1 pt-2">Transfer</h6>
                            </div>
                            <div class="m-auto">
                                <a href="{% url 'page_payment_request' %}"
                                    class="icon icon-s rounded-s gradient-green shadow-bg shadow-bg-xs"><i
                                        class="font-16 color-white bi bi-arrow-down"></i></a>
                                <h6 class="font-11 font-400 opacity-70 mb-n1 pt-2">Request</h6>
                            </div>
                            <div class="ms-auto">
                                <a href="{% url 'page_payment_exchange' %}"
                                    class="icon icon-s rounded-s gradient-blue shadow-bg shadow-bg-xs"><i
                                        class="font-16 color-white bi bi-arrow-left-right"></i></a>
                                <h6 class="font-11 font-400 opacity-70 mb-n1 pt-2">Exchange</h6>
                            </div>
                        </div>
                    </div>


                    <div class="divider divider-margins opacity-50"></div>

                    <!-- Useful Links-->
                    <h6 class="opacity-40 px-3 mt-n2 mb-0">Useful Links</h6>
                    <div class="list-group list-custom list-menu-small">
                        <a href="tel:+1 234 567 8091" class="list-group-item default-link">
                            <i class="bi bi-arrow-up-circle-fill opacity-20 font-16"></i>
                            <div>Support</div>
                            <i class="bi bi-chevron-right"></i>
                        </a>
                        <a href="{% url 'page_profile' %}" class="list-group-item">
                            <i class="bi bi-person-circle opacity-20 font-16"></i>
                            <div>Account</div>
                            <i class="bi bi-chevron-right"></i>
                        </a>
                        <a href="{% url 'page_signin_1' %}" class="list-group-item">
                            <i class="bi bi-bar-chart-fill opacity-20 font-16"></i>
                            <div>Log Out</div>
                            <i class="bi bi-chevron-right"></i>
                        </a>
                    </div>

                    <div class="divider divider-margins opacity-50"></div>
                    <!-- Menu Copyright -->
                    <p class="px-3 font-9 opacity-30 color-theme mt-n3">Copyright <span
                            class="copyright-year">2024</span>. Made with <i
                            class="bi bi-heart-fill color-red-dark px-1"></i> by Enabled</p>
                </div>
            </div>
        </div>

        <div id="menu-highlights" data-menu-load="{% url 'menu_highlights' %}"
            class="offcanvas offcanvas-bottom offcanvas-detached rounded-m" style="display: block;">
            <!-- menu-size will be the dimension of your menu. If you set it to smaller than your content it will scroll-->
            <div class="menu-size" style="height:380px;">
                <div class="d-flex mx-3 mt-3 py-1">
                    <div class="align-self-center">
                        <h1 class="mb-0">Color your <span class="color-highlight">PayApp</span></h1>
                    </div>
                    <div class="align-self-center ms-auto">
                        <a href="#" class="py-3 ps-4 shadow-0 me-n2" data-bs-dismiss="offcanvas">
                            <i class="bi bi-x color-red-dark font-26"></i>
                        </a>
                    </div>
                </div>
                <div class="content mt-n1 pb-2">
                    <p class="mb-3">
                        Tap to change the color accent of PayApp
                    </p>
                    <div class="divider mb-4"></div>
                    <div class="d-flex text-center">
                        <div class="m-auto">
                            <a href="#" data-change-highlight="red"
                                class="icon gradient-red shadow-bg shadow-bg-xs rounded-s"></a>
                            <h5 class="font-14 mt-n1">Red</h5>
                        </div>
                        <div class="m-auto">
                            <a href="#" data-change-highlight="green"
                                class="icon gradient-green shadow-bg shadow-bg-xs rounded-s"></a>
                            <h5 class="font-14 mt-n1">Green</h5>
                        </div>
                        <div class="m-auto">
                            <a href="#" data-change-highlight="blue"
                                class="icon gradient-blue shadow-bg shadow-bg-xs rounded-s"></a>
                            <h5 class="font-14 mt-n1">Blue</h5>
                        </div>
                        <div class="m-auto">
                            <a href="#" data-change-highlight="mint"
                                class="icon gradient-mint shadow-bg shadow-bg-xs rounded-s"></a>
                            <h5 class="font-14 mt-n1">Mint</h5>
                        </div>
                    </div>
                    <div class="pt-3"></div>
                    <div class="d-flex text-center">
                        <div class="m-auto">
                            <a href="#" data-change-highlight="orange"
                                class="icon gradient-orange shadow-bg shadow-bg-xs rounded-s"></a>
                            <h5 class="font-14 mt-n1">Orange</h5>
                        </div>
                        <div class="m-auto">
                            <a href="#" data-change-highlight="yellow"
                                class="icon gradient-yellow shadow-bg shadow-bg-xs rounded-s"></a>
                            <h5 class="font-14 mt-n1">Yellow</h5>
                        </div>
                        <div class="m-auto">
                            <a href="#" data-change-highlight="magenta"
                                class="icon gradient-magenta shadow-bg shadow-bg-xs rounded-s"></a>
                            <h5 class="font-14 mt-n1">Magenta</h5>
                        </div>
                        <div class="m-auto">
                            <a href="#" data-change-highlight="brown"
                                class="icon gradient-brown shadow-bg shadow-bg-xs rounded-s"></a>
                            <h5 class="font-14 mt-n1">Brown</h5>
                        </div>
                    </div>
                </div>
                <a href="#" data-bs-dismiss="offcanvas"
                    class="mx-3 btn btn-full gradient-highlight shadow-bg shadow-bg-s">Awesome</a>
            </div>
        </div>
    </div>
    {% include 'mobile-Dashbord/include/script.html'%}
</body>

</html>